In [15]:
# run this to shorten the data import from the files
path_data = ''

In [ ]:
# exercise 01

"""
Filtering results

The WHERE clause allows you to filter based on text and numeric values in a table using comparison operators.

What does the following query return?

SELECT title
FROM films
WHERE release_year > 2000;

"""

# Instructions

"""
Films released before the year 2000

Films released after the year 2000 (Answer)

Films released after the year 2001

Films released in 2000
"""

# solution



#----------------------------------#

# Conclusion

"""
Correct! Our query will return films that were released after the year 2000.
"""

'/home/nero/Documents/Estudos/DataCamp'

In [1]:
# exercise 02

"""
Using WHERE with numbers

Filtering with WHERE allows you to analyze your data better. You may have a dataset that includes a range of different movies, and you need to do a case study on the most notable films with the biggest budgets. In this case, you'll want to filter your data to a specific budget range.

Now it's your turn to use the WHERE clause to filter numeric values!
"""

# Instructions

"""
    Select the film_id and imdb_score from the reviews table and filter on scores higher than 7.0.

    Select the film_id and facebook_likes of the first ten records with less than 1000 likes from the reviews table.

    Count how many records have a num_votes of at least 100,000; use the alias films_over_100K_votes
"""

# solution

-- Select film_ids and imdb_score with an imdb_score over 7.0
SELECT film_id, imdb_score
FROM reviews
WHERE imdb_score > 7.0

#----------------------------------#

-- Select film_ids and facebook_likes for ten records with less than 1000 likes 
SELECT film_id, facebook_likes
FROM reviews
WHERE facebook_likes < 1000
LIMIT 10;

#----------------------------------#

-- Count the records with at least 100,000 votes
SELECT COUNT(num_votes) AS films_over_100K_votes
FROM reviews
WHERE num_votes > 100000;

#----------------------------------#

# Conclusion

"""
Well done! Applying a WHERE filter with SQL is much easier and faster than scrolling through a spreadsheet or using a highlighter!
"""

'\n\n'

In [2]:
# exercise 03

"""
Using WHERE with text

WHERE can also filter string values.

Imagine you are part of an organization that gives cinematography awards, and you have several international categories. Before you confirm an award for every language listed in your dataset, it may be worth seeing if there are enough films of a specific language to make it a fair competition. If there is only one movie or a significant skew, it may be worth considering a different way of giving international awards.

Let's try this out!
"""

# Instructions

"""

    Select and count the language field using the alias count_spanish.
    Apply a filter to select only Spanish from the language field.

"""

# solution

-- Count the Spanish-language films
SELECT COUNT(language) AS count_spanish
FROM films
WHERE language = 'Spanish';

#----------------------------------#

# Conclusion

"""
Bien hecho! Well done! There are 40 Spanish-language films in this table.
"""

'\n\n'

In [3]:
# exercise 04

"""
Using AND

The following exercises combine AND and OR with the WHERE clause. Using these operators together strengthens your queries and analyses of data.

You will apply these new skills now on the films database.
"""

# Instructions

"""

    Select the title and release_year for all German-language films released before 2000.

    Update the query from the previous step to show German-language films released after 2000 rather than before.

    Select all details for German-language films released after 2000 but before 2010 using only WHERE and AND.

"""

# solution

-- Select the title and release_year for all German-language films released before 2000
SELECT title, release_year
FROM films
WHERE language = 'German' AND release_year < 2000;

#----------------------------------#

-- Update the query to see all German-language films released after 2000
SELECT title, release_year
FROM films
WHERE release_year > 2000
	AND language = 'German';

#----------------------------------#

-- Select all records for German-language films released after 2000 and before 2010
SELECT *
FROM films
WHERE language = 'German' AND 
release_year > 2000 
AND release_year < 2010;

#----------------------------------#

# Conclusion

"""
Great work! Combining conditions with AND will prove to be very useful when we want our query to return a specific subset of records.
"""

'\n\n'

In [4]:
# exercise 05

"""
Using OR

This time you'll write a query to get the title and release_year of films released in 1990 or 1999, which were in English or Spanish and took in more than $2,000,000 gross.

It looks like a lot, but you can build the query up one step at a time to get comfortable with the underlying concept in each step. Let's go!
"""

# Instructions

"""
Select the title and release_year for films released in 1990 or 1999 using only WHERE and OR.
---
Filter the records to only include English or Spanish-language films.
---
Finally, restrict the query to only return films worth more than $2,000,000 gross.
"""

# solution

-- Find the title and year of films from the 1990 or 1999
SELECT title, release_year
FROM films
WHERE release_year = 1990 OR release_year = '1999';

#----------------------------------#

SELECT title, release_year
FROM films
WHERE (release_year = 1990 OR release_year = 1999)
-- Add a filter to see only English or Spanish-language films
AND (language = 'English' OR language = 'Spanish');

#----------------------------------#

SELECT title, release_year
FROM films
WHERE (release_year = 1990 OR release_year = 1999)
	AND (language = 'English' OR language = 'Spanish')
-- Filter films with more than $2,000,000 gross
	AND (gross > 2000000);

#----------------------------------#

# Conclusion

"""
Amazing work! Some of these queries were pretty complex. Any Die Hard fans out there?
"""

'\n\n'

In [5]:
# exercise 06

"""
Using BETWEEN

Let's use BETWEEN with AND on the films database to get the title and release_year of all Spanish-language films released between 1990 and 2000 (inclusive) with budgets over $100 million.

We have broken the problem into smaller steps so that you can build the query as you go along!
"""

# Instructions

"""
Select the title and release_year of all films released between 1990 and 2000 (inclusive) using BETWEEN.
---
Build on your previous query to select only films with a budget over $100 million.
---
Now, restrict the query to only return Spanish-language films.
---
Finally, amend the query to include all Spanish-language or French-language films with the same criteria.
---
"""

# solution



#----------------------------------#

-- Select the title and release_year for films released between 1990 and 2000
SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000;

#----------------------------------#

SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
-- Narrow down your query to films with budgets > $100 million
	AND (budget > 100000000);

#----------------------------------#

SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
	AND budget > 100000000
-- Restrict the query to only Spanish-language films
	AND language = 'Spanish';

#----------------------------------#


SELECT title, release_year
FROM films
WHERE release_year BETWEEN 1990 AND 2000
	AND budget > 100000000
-- Amend the query to include Spanish or French-language films
	AND (language = 'Spanish' OR language = 'French');

#----------------------------------#

# Conclusion

"""
Superb! Using WHERE with a combination of AND, OR, and BETWEEN is an efficient way to query a desired range of values.
"""

'\n\n'

In [6]:
# exercise 07

"""
LIKE and NOT LIKE

The LIKE and NOT LIKE operators can be used to find records that either match or do not match a specified pattern, respectively. They can be coupled with the wildcards % and _. The % will match zero or many characters, and _ will match a single character.

This is useful when you want to filter text, but not to an exact word.

Do the following exercises to gain some practice with these keywords.
"""

# Instructions

"""

    Select the names of all people whose names begin with 'B'.

    Select the names of people whose names have 'r' as the second letter.

    Select the names of people whose names don't start with 'A'.

"""

# solution

-- Select the names that start with B
SELECT name
FROM people
WHERE name LIKE 'B%';

#----------------------------------#

SELECT name
FROM people
-- Select the names that have r as the second letter
WHERE name LIKE '_r%';

#----------------------------------#

SELECT name
FROM people
-- Select names that don't start with A
WHERE name NOT LIKE 'A%'

#----------------------------------#

# Conclusion

"""
I LIKE to see the progress we're making! Filtering your data to find specified patterns is vital to your skillset. Our results still had names that started with Ã with an accent, showing that we need to be specific with our filtering criteria.
"""

'\n\n'

In [7]:
# exercise 08

"""
WHERE IN

You now know you can query multiple conditions using the IN operator and a set of parentheses. It is a valuable piece of code that helps us keep our queries clean and concise.

Try using the IN operator yourself!
"""

# Instructions

"""

    Select the title and release_year of all films released in 1990 or 2000 that were longer than two hours.

    Select the title and language of all films in English, Spanish, or French using IN.

    Select the title, certification and language of all films certified NC-17 or R that are in English, Italian, or Greek.

"""

# solution

-- Find the title and release_year for all films over two hours in length released in 1990 and 2000
SELECT title, release_year
FROM films
WHERE duration > 120
    AND (release_year = 1990 OR release_year = 2000);

#----------------------------------#

-- Find the title and language of all films in English, Spanish, and French
SELECT title, language
FROM films
WHERE language IN ('English', 'Spanish', 'French');

#----------------------------------#

-- Find the title, certification, and language all films certified NC-17 or R that are in English, Italian, or Greek
SELECT title, certification, language
FROM films
WHERE certification IN ('NC-17', 'R')
    AND (language IN ('English', 'Italian', 'Greek'));

#----------------------------------#

# Conclusion

"""
Your SQL vocabulary is growing by the minute! Interestingly, A Fistful of Dollars starring Clint Eastwood is listed as Italian.
"""

'\n\n'

In [8]:
# exercise 09

"""
Combining filtering and selecting

Time for a little challenge. So far, your SQL vocabulary from this course includes COUNT(), DISTINCT, LIMIT, WHERE, OR, AND, BETWEEN, LIKE, NOT LIKE, and IN. In this exercise, you will try to use some of these together. Writing more complex queries will be standard for you as you become a qualified SQL programmer.

As this query will be a little more complicated than what you've seen so far, we've included a bit of code to get you started. You will be using DISTINCT here too because, surprise, there are two movies named 'Hamlet' in this dataset!

Follow the instructions to find out what 90's films we have in our dataset that would be suitable for English-speaking teens.
"""

# Instructions

"""

    Count the unique titles from the films database and use the alias provided.
    Filter to include only movies with a release_year from 1990 to 1999, inclusive.
    Add another filter narrowing your query down to English-language films.
    Add a final filter to select only films with 'G', 'PG', 'PG-13' certifications.

"""

# solution

-- Count the unique titles
SELECT COUNT(DISTINCT(title)) AS nineties_english_films_for_teens
FROM films
-- Filter to release_years to between 1990 and 1999
WHERE release_year BETWEEN 1990 AND 1999
-- Filter to English-language films
	AND language = 'English'
-- Narrow it down to G, PG, and PG-13 certifications
	AND(certification IN ('G', 'PG', 'PG-13'));

#----------------------------------#

# Conclusion

"""
You've got a natural flair for filtering! Nice work, this filter tells us we have 310 films that the 90's obsessed teenagers can enjoy.
"""

'\n\n'

In [9]:
# exercise 10

"""
Practice with NULLs

Well done. Now that you know what NULL means and what it's used for, it's time for some more practice!

Let's explore the films table again to better understand what data you have.
"""

# Instructions

"""

    Select the title of every film that doesn't have a budget associated with it and use the alias no_budget_info.

    Count the number of films with a language associated with them and use the alias count_language_known.

"""

# solution

-- List all film titles with missing budgets
SELECT title AS no_budget_info
FROM films
WHERE budget IS NULL;

#----------------------------------#

-- Count the number of films we have language data for
SELECT COUNT(*) AS count_language_known
FROM films
WHERE language IS NOT NULL;

#----------------------------------#

# Conclusion

"""
Alright! That's 4957 films with language data. We've mastered selecting and filtering data which means you're halfway through the course!
"""

'\n\n'