In [15]:
# run this to shorten the data import from the files
path_data = ''

In [ ]:
# exercise 01

"""
SQL strengths

Which of the below scenarios describes a situation in which using SQL would be useful?
"""

# Instructions

"""
All data needed to answer the business question is presented in a spreadsheet, and no complicated relationships exist between different data points.

Large amounts of data about many different but related areas of a business are housed in a relational database. (Answer)

The data needed to answer the business question doesn't exist yet.
"""

# solution



#----------------------------------#

# Conclusion

"""
Exactly! When we've got this type of vast and interrelated data, SQL is excellent for targeting and returning only the data which is relevant to our business question.
"""

'/home/nero/Documents/Estudos/DataCamp'

In [1]:
# exercise 02

"""
Querying the books table

You're ready to practice writing your first SQL queries using the SELECT and FROM keywords. Recall from the video that SELECT is used to choose the fields that will be included in the result set, while FROM is used to pick the table in which the fields are listed.

Feel free to explore books in the exercise. Let's zoom in on this table in the database schema to see the fields and data types it contains.

Your task in this exercise is to practice selecting fields from books.
"""

# Instructions

"""
    Use SQL to return a result set of all book titles included in the books table.

    Select both the title and author fields from books.

    Select all fields from the books table.
"""

# solution

-- Return all titles from the books table
SELECT title FROM books;

#----------------------------------#

-- Select title and author from the books table
SELECT title, author
FROM books;

#----------------------------------#

-- Select all fields from the books table
SELECT *
FROM books;

#----------------------------------#

# Conclusion

"""
Well done! You've mastered your first two SQL keywords. The more keywords you know, the more complex SQL queries you'll be able to write!
"""

'\n\n'

In [2]:
# exercise 03

"""
Making queries DISTINCT

You've learned that the DISTINCT keyword can be used to return unique values in a field. In this exercise, you'll use this understanding to find out more about the books table!

There are 350 books in the books table, representing all of the books that our local library has available for checkout. But how many different authors are represented in these 350 books? The answer is surely less than 350. For example, J.K. Rowling wrote all seven Harry Potter books, so if our library has all Harry Potter books, seven books will be written by J.K Rowling. There are likely many more repeat authors!
"""

# Instructions

"""
    Write SQL code that returns a result set with just one column listing the unique authors in the books table.

    Update the code to return the unique author and genre combinations in the books table.
"""

# solution

-- Select unique authors from the books table
SELECT DISTINCT author FROM books;

#----------------------------------#

-- Select unique authors and genre combinations from the books table
SELECT DISTINCT author, genre
FROM books;

#----------------------------------#

# Conclusion

"""
You've passed this exercise with DISTINCTion! Notice that you found 247 unique authors in the books table overall but 249 unique combinations of authors and genres. This means there are one or two authors who have written books in multiple genres!
"""

'\n\n'

In [3]:
# exercise 04

"""
Aliasing

While the default column names in a SQL result set come from the fields they are created from, you've learned that aliasing can be used to rename these result set columns. This can be helpful for clarifying the intent or contents of the column.

Your task in this exercise is to incorporate an alias into one of the SQL queries that you worked with in the previous exercise!
"""

# Instructions

"""
Add an alias to the SQL query to rename the author column to unique_author in the result set.
"""

# solution

-- Alias author so that it becomes unique_author
SELECT DISTINCT author AS unique_author
FROM books;

#----------------------------------#

# Conclusion

"""
It's AS easy AS that! Great work. The alias you just implemented makes it clear that only unique authors are listed in the results and that there are no duplicates. This is clear even to someone who is reading only the result set and does not know the SQL code behind the results.
"""

'\n\n'

In [4]:
# exercise 05

"""
VIEWing your query

You've worked hard to create the below SQL query:

SELECT DISTINCT author AS unique_author
FROM books;

What if you'd like to be able to refer to it later, or allow others to access and use the results? The best way to do this is by creating a view. Recall that a view is a virtual table: it's very similar to a real table, but rather than the data itself being stored, the query code is stored for later use.
"""

# Instructions

"""
Add a single line of code that saves the results of the written query as a view called library_authors.
---
Check that the view was created by selecting all columns from library_authors.
"""

# solution

-- Save the results of this query as a view called library_authors
CREATE VIEW library_authors AS
SELECT DISTINCT author AS unique_author
FROM books;

#----------------------------------#

-- Your code to create the view:
CREATE VIEW library_authors AS
SELECT DISTINCT author AS unique_author
FROM books;

-- Select all columns from library_authors
SELECT * FROM library_authors;

#----------------------------------#

# Conclusion

"""
Amazing! As your SQL queries become long and complex, you'll want to be able to save your queries for referencing later. Views can also be useful when the information contained in a database table isn't quite what you need. You can create your own custom view with exactly the information you are looking for, without needing to edit the database itself, which you may not have permission to do. Creating views is a valuable skill to have, and you've mastered it!
"""

'\n\n'

In [5]:
# exercise 06

"""
Limiting results

Let's take a look at a few of the genres represented in our library's books.

Recall that limiting results is useful when testing code since result sets can have thousands of results! Queries are often written with a LIMIT of just a few records to test out code before selecting thousands of results from the database.

Let's practice with LIMIT!
"""

# Instructions

"""
Using PostgreSQL, select the genre field from the books table; limit the number of results to 10.
"""

# solution

-- Select the first 10 genres from books using PostgreSQL
SELECT genre FROM books 
LIMIT 10;

#----------------------------------#

# Conclusion

"""
There's no LIMIT to your SQL skills! Great work. You can see from this exercise how it's nice to work with small result sets by limiting the number of results.
"""

'\n\n'

In [6]:
# exercise 07

"""
Translating between flavors

In the previous exercise, you wrote the following code using PostgreSQL:

SELECT genre
FROM books
LIMIT 10;

The database in this course is a PostgreSQL database, so you won't be able to run SQL Server code in any of the exercises. What if you did want to update the above query to work with SQL Server, though? How would you do that?
"""

# Instructions

"""
Replace FROM with TABLE

Replace SELECT, FROM, and LIMIT with the corresponding SQL Server keywords

Remove LIMIT statement and add TOP(10) after SELECT (Answer)

Replace LIMIT with TOP and remove the ; at the end of the query
"""

# solution



#----------------------------------#

# Conclusion

"""
Looks like you've got the flavor of things! Great work. Only a few keyword differences exist between PostgreSQL and SQL Server—most syntax is the same!
"""

'\n\n'

In [7]:
# exercise 08

"""

"""

# Instructions

"""

"""

# solution



#----------------------------------#

# Conclusion

"""

"""

'\n\n'

In [8]:
# exercise 09

"""

"""

# Instructions

"""

"""

# solution



#----------------------------------#

# Conclusion

"""

"""

'\n\n'

In [9]:
# exercise 10

"""

"""

# Instructions

"""

"""

# solution



#----------------------------------#

# Conclusion

"""

"""

'\n\n'

In [ ]:
# exercise 11

"""

"""

# Instructions

"""

"""

# solution



#----------------------------------#

# Conclusion

"""

"""