In [5]:
# run this to shorten the data import from the files
import os
path_data = os.path.join(os.path.dirname(os.getcwd()), 'datasets/')

In [6]:
import pandas as pd

basetable = pd.read_csv(path_data+'basetable_gender.csv')
basetable.head()

   donor_id gender
0     32768      F
1     65543      M
2     65546      F
3     32778      M
4     32780      F

In [7]:
# exercise 01

"""
Creating a dummy from a two-category variable

Given is a basetable with one predictive variable "gender". Make sure that "gender" can be used as a predictive variable in a logistic regression model by creating dummy variables for it.
"""

# Instructions

"""

    Create a pandas dataframe dummies_gender that has the dummy variables for "gender". Make sure to avoid multicollinearity.
    Add these dummies to the original basetable.
    Remove the original variable "gender" from the basetable.

"""

# solution

# Create the dummy variable
dummies_gender = pd.get_dummies(basetable["gender"], drop_first=True, dtype=int)

# Add the dummy variable to the basetable
basetable = pd.concat([basetable, dummies_gender], axis=1)

# Delete the original variable from the basetable
del basetable["gender"]
print(basetable.head())

#----------------------------------#

# Conclusion

"""
Well done! As gender only has two values and avoiding multicollinearity means that one dummy variable is dropped, only one column is added to the basetable.
"""

   donor_id  M
0     32768  0
1     65543  1
2     65546  0
3     32778  1
4     32780  0

'\nWell done! As gender only has two values and avoiding multicollinearity means that one dummy variable is dropped, only one column is added to the basetable.\n'

In [22]:
basetable = pd.read_csv(path_data+'living_places.csv', usecols=['donor_id', 'living_place'])
basetable.rename(columns={'living_place':'country'}, inplace=True)
basetable.head()

   donor_id country
0     32768   India
1     32768      UK
2     98305     USA
3     98305      UK
4     98305      UK

In [23]:
# exercise 02

"""
Creating dummies from a many-categories variable

Given is a basetable with one predictive variable "country". Make sure that "country" can be used as a predictive variable in a logistic regression model by creating dummy variables for it.
"""

# Instructions

"""

    Create a pandas dataframe dummies_country that has the dummy variables for "country". Make sure you avoid multicollinearity.
    Add these dummies to the original basetable.
    Remove the original variable "country" from the basetable.

"""

# solution

# Create the dummy variable
dummies_country = pd.get_dummies(basetable["country"], drop_first=True, dtype=int)

# Add the dummy variable to the basetable
basetable = pd.concat([basetable, dummies_country], axis=1)

# Delete the original variable from the basetable
del basetable["country"]
print(basetable.head())

#----------------------------------#

# Conclusion

"""
Nice job! The country dummy variables can now be used in a predictive model.
"""

   donor_id  India  UK  USA
0     32768      1   0    0
1     32768      0   1    0
2     98305      0   0    1
3     98305      0   1    0
4     98305      0   1    0

'\nNice job! The country dummy variables can now be used in a predictive model.\n'

In [24]:
# exercise 03

"""
How to replace missing values

Given is a basetable with a predictive variable max_donation that has the maximum donation someone has given over the last year. Some donors did not make a donation last year and hence have missing values for this value.

What is the best strategy to replace missing values in this variable?
"""

# Instructions

"""
Replace missing values in max_donation by 0. (Answer)


Replace missing values in max_donation by the median value of max_donation.


Replace missing values in max_donation by the mean value of max_donation.


Replace missing values in max_donation by the maximum value of max_donation.
"""

# solution



#----------------------------------#

# Conclusion

"""
Indeed! Someone who did not donate in the last year, has maximum donation value 0.
"""

'\nIndeed! Someone who did not donate in the last year, has maximum donation value 0.\n'

In [25]:
basetable = pd.read_csv(path_data+'basetable_ch03.csv')
basetable.head()

   donor_id  total_donations
0     98305            947.0
1         1            600.0
2     65539            995.0
3     98308            141.0
4     98309             35.0

In [26]:
# exercise 04

"""
Creating a missing value dummy

Given a basetable that has a predictive variable "total_donations" that has the total number of donations a donor ever made. This variable can have missing values, indicating that this donor never made a donation before. This is important information on its own, so it is appropriate to create a variable "no_donations" that indicates whether "total_donations" is missing.
"""

# Instructions

"""

    Create a new column "no_donations" in basetable that has value 1 if total_donations is missing and 0 otherwise.
    Calculate the number of missing values in total_donations and assign it to number_na.
    Print the percentage of missing values.

"""

# solution

# Create dummy indicating missing values
basetable["no_donations"] = pd.Series([1 if b else 0 for b in basetable["total_donations"].isna()])

# Calculate number of missing values
number_na = sum(basetable["no_donations"] == 1)

# Calculate percentage of missing values
print(round(number_na / len(basetable), 2))

#----------------------------------#

# Conclusion

"""
Great! There are about 9% donors in the basetable that never donated before.
"""

0.09

'\nGreat! There are about 9% donors in the basetable that never donated before.\n'

In [29]:
basetable = pd.read_csv(path_data+'basetable_na.csv')
basetable.head()

   donor_id   age
0     32768   NaN
1     65543  73.0
2     65546  90.0
3     32778   NaN
4     32780  66.0

In [30]:
# exercise 05

"""
Replace missing values with the median value

Given is a basetable that has a predictive variable age of the donors that has missing values in it. It is a good idea to replace these missing values by the median age of the donors.
"""

# Instructions

"""

    Calculate the median age of all donors and assign this value to median_age.
    Replace missing values in age by median_age.
    Calculate the median age of all donors after the replacement is done.

"""

# solution

# Calculate the median of age
median_age = basetable["age"].median()
print(median_age)

# Replace missing values by the median
basetable["age"] = basetable["age"].fillna(median_age)

# Calculate the median of age after replacement
median_age = basetable["age"].median()
print(median_age)

#----------------------------------#

# Conclusion

"""
Well done! The median does not change after replace missing values by the median. This is an indication that replacing missing values by the median will not affect the predictive model a lot.
"""

58.0
58.0

'\nWell done! The median does not change after replace missing values by the median. This is an indication that replacing missing values by the median will not affect the predictive model a lot.\n'

In [12]:
# exercise 06

"""
Replace missing values with a fixed value

Given a basetable that has a predictive variable "total_donations", indicate the total amount of donations made by each donor in the population. If a value is missing for this predictive variable, it means that this is a new donor that did not make any donations yet. In this case, logical reasoning can be used to know by which value we should replace missing values.
"""

# Instructions

"""

    Assign the replacement value for missing values to replacement.
    Replace missing values in the column total_donations by this replacement.

"""

# solution

# Missing values replacement
replacement = 0

# Replace missing values by the appropriate value
basetable["total_donations"] = basetable["total_donations"].fillna(replacement)

#----------------------------------#

# Conclusion

"""
Nice! Donors that did not make any donation yet, have a total donation amount of 0.
"""

'\n\n'

In [31]:
basetable = pd.read_csv(path_data+'basetable_ch03-sum_donations.csv')
basetable.head()

   donor_id  sum_donations
0     65538            886
1         2            464
2         7            408
3     32776            880
4     98313            310

In [32]:
# exercise 07

"""
Handle outliers with winsorization

Given is a basetable with two variables: "sum\_donations" and "donor\_id". "sum_donations can contain outliers when donors have donated exceptional amounts. Therefore, you want to winsorize this variable such that the 5% highest amounts are replaced by the upper 5% percentile value.
"""

# Instructions

"""

    Print the minimum value of sum_donations and verify that it is at least 0. Then print the maximum value of sum_donations.
    Fill out the appropriate lower limit percentile. As all values higher than 0 are realistic and occur often, it is not necessary to replace values lower than the lower limit percentile value.
    Create a new variable "sum_donations_winsorized" that is a winsorized version of the "sum_donations" variable.
    Print the maximum value of sum_donations_winsorized.

"""

# solution

from scipy.stats.mstats import winsorize

# Check minimum sum of donations
print(basetable["sum_donations"].min())
print(basetable["sum_donations"].max())

# Fill out the lower limit
lower_limit = 0.0

# Winsorize the variable sum_donations
basetable["sum_donations_winsorized"] = winsorize(basetable["sum_donations"], limits=[lower_limit, 0.05])

# Check maximum sum of donations after winsorization
print(basetable["sum_donations_winsorized"].max())

#----------------------------------#

# Conclusion

"""
Well done. After winsorization, the maximum sum of donations drops from 999 to 953.
"""

50
999
953

'\nWell done. After winsorization, the maximum sum of donations drops from 999 to 953.\n'

In [34]:
basetable = pd.read_csv(path_data+'basetable_evo.csv').drop('Unnamed: 0', axis=1)
basetable.head()

   target  age  gender_F  donations_2017  donations_2017_min_2016
0       1   42         0              10                        7
1       1   73         0               4                        1
2       1   37         0               6                        3
3       1   75         0               2                       -4
4       1   32         1               9                        5

In [35]:
# exercise 08

"""
Handle outliers with standard deviation

Given a basetable that has one variable "age". The age is manually filled out in an online form by the donor and is therefore prone to typing errors and can have outliers. Replace all values that are lower than the mean age minus 3 times the standard deviation of age by this value, and replace all values that are higher than the mean age plus 3 times the standard deviation of age by this value.
"""

# Instructions

"""

    Print the maximum value of "age".
    Calculate the mean and standard deviation of "age".
    Calculate the lower and upper limits using the standard deviation rule of thumb.
    Add a variable "age_mod" to the basetable with outliers replaced, and print the new maximum value of "age _mod".

"""

# solution (Using diferent table)

# Show the maximum age 
print(basetable["age"].max())

# Calculate mean and standard deviation of age
mean_age = basetable["age"].mean()
std_age = basetable["age"].std()

# Calculate the lower and upper limits
lower_limit = mean_age - 3 * std_age
upper_limit = mean_age + 3 * std_age

# Add a variable age_no_outliers to the basetable with outliers replaced
basetable["age_mod"] = (pd.Series([min(max(lower_limit, a), upper_limit) 
                             for a in basetable["age"]]))
print(basetable["age_mod"].max())

#----------------------------------#

# Conclusion

"""
Great! The unrealistic value 140 is now replaced by 94.
"""

110
105.79396715064479

'\nGreat! The unrealistic value 140 is now replaced by 94.\n'

In [36]:
"""
   donor_id  donations
0         1        100
1         2       1100
2         3      10000
3         4      11000"""

basetable = pd.read_clipboard()
basetable.head()

   donor_id  donations
0         1        100
1         2       1100
2         3      10000
3         4      11000

In [38]:
# exercise 09

"""
Square root transformation

In the video you learned that the logarithmic function can be used to flatten out differences between values. An alternative for the logarithmic function is the square root: this function will also flatten out differences between values but the effect is slightly weaker.

Given is a very small basetable with population 4 donors and the predictive variable "donations" that has the total amount of donations last year. In this exercise you will add the logarithmic and square root transformation to this basetable and compare the effect of both transformations.
"""

# Instructions

"""

    Add the log transformation of the variable "donations" to the basetable.
    Add the square root transformation of the variable "donations" to the basetable.
    Print the basetable with these added features.

"""

# solution
import numpy as np
# Add the log transformation of the variable "donations"
basetable["donations_log"] = np.log(basetable["donations"])

# Add the square root transformation of the variable "donations"
basetable["donations_sqrt"] = np.sqrt(basetable["donations"])

# Compare the transformations
print(basetable)

#----------------------------------#

# Conclusion

"""
Great! Observe that the differences in the column 'donations_sqrt' are smaller than in the column 'donations_log'. It depends on the situation which one to use, one option could be to add both to the predictive model and let the variable selection algorithm decide which one to use.
"""

   donor_id  donations  donations_log  donations_sqrt
0         1        100       4.605170       10.000000
1         2       1100       7.003065       33.166248
2         3      10000       9.210340      100.000000
3         4      11000       9.305651      104.880885

"\nGreat! Observe that the differences in the column 'donations_sqrt' are smaller than in the column 'donations_log'. It depends on the situation which one to use, one option could be to add both to the predictive model and let the variable selection algorithm decide which one to use.\n"

In [39]:
basetable = pd.read_csv(path_data+'basetable_interactions.csv')
basetable.head()

     id  target  country_Spain  country_France   age
0  1416       0              1               0  25.0
1  1046       0              1               0  44.0
2  8912       0              0               1  59.0
3  3531       0              1               0  57.0
4  7009       0              0               1  43.0

In [45]:
from sklearn import linear_model
from sklearn.metrics import roc_auc_score

def auc(variables, basetable):
    train = basetable[:7500]
    test = basetable[7500:]
    # Create training data
    X = train[variables]
    Y = train["target"]
    # Fit model
    logreg = linear_model.LogisticRegression()
    logreg.fit(X, Y)
    predictions = logreg.predict_proba(test[variables])[:,1]
    auc_regular = roc_auc_score(test["target"], predictions)
    return(auc_regular)

In [46]:
# exercise 10

"""
Adding interactions to the basetable

Assume that a non-profit organisation wants to launch a campaign in Spain and France, and wants to know which donors are most likely to donate. Given is a basetable with predictive variables "age", "country_Spain", "country_France" and the target "target". For your convenience, a function auc is implemented that returns the AUC on partitioned data, taking two arguments, namely the set of variables considered and the basetable:

auc(["variable_1","variable_2"], basetable)
0.51

In this exercise, you will learn how to add interactions to the basetable and verify whether this improves the AUC of the predictive model.
"""

# Instructions

"""

    Print the AUC of a model using age only and the AUC of a model using country_Spain only.
    Print the AUC of a model using age and country_Spain.
    Add two interaction terms, namely age with country_Spain and age with country_France to the basetable.
    Print the AUC of a model using age, country_Spain and the interaction terms.

"""

# solution

# Calculate AUC using age only
print(auc(["age"], basetable))

# Calculate AUC using country_Spain only
print(auc(["country_Spain"], basetable))

# Calculate AUC using age and country_Spain
print(auc(["age", "country_Spain"], basetable))

# Add interactions country_Spain x age and country_France x age
basetable["spain_age"] = basetable["country_Spain"] * basetable["age"]
basetable["france_age"] = basetable["country_France"] * basetable["age"]

# Calculate AUC using age, country_Spain and interactions
print(auc(["age", "country_Spain", "spain_age", "france_age"], basetable))

#----------------------------------#

# Conclusion

"""
Well done! In this exercise you can observe that in some cases, adding interactions can improve the predictive power of your model.
"""

0.5119930184229574
0.4986671180952825
0.5122868361858952
0.5182935609156217

'\nWell done! In this exercise you can observe that in some cases, adding interactions can improve the predictive power of your model.\n'