# Colect all completed courses from the DataCamp Profile page

In [1]:
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
with open('s2.html', 'r') as f:
    html = f.read()
    f.close()

soup = BeautifulSoup(html, 'html.parser')
courses_div = soup.select('.mfe-app-portfolios-1bugksy')


cats = []
names = []

for d in courses_div:
    name_list = d['data-trackid'].split('-')[1:-1]
    c = name_list[0]
    n = d.text
    cats.append(c)
    names.append(n)
    
data = {'category' : cats, 'names': names}

df = pd.DataFrame(data)
df['category'] = df.category.str.replace('My ','')
display(df)

     category                                      names
0     Courses                     Introduction to Python
1     Courses                        Introduction to SQL
2     Courses                        Intermediate Python
3     Courses                           Intermediate SQL
4     Courses                   Introduction to Power BI
..        ...                                        ...
162  Projects        Analyzing River Thames Water Levels
163  Projects      Modeling Car Insurance Claim Outcomes
164  Projects        Predictive Modeling for Agriculture
165  Projects          Predicting Movie Rental Durations
166  Projects  Interpreting Unsupervised Learning Models

[167 rows x 2 columns]

In [3]:
courses = df[df['category'] == 'Courses']['names']
projects = df[df['category'] == 'Projects']['names']
tracks = df[df['category'] == 'Tracks']['names']

In [4]:
df.to_csv('/home/nero/Documents/pessoal/Profissional/cursos_datacamp.csv', index=False)

In [5]:
#tracks.to_clipboard(index=False)