In [6]:
import pandas as pd

cohort_counts = pd.read_csv('datasets/cohort_counts.csv', parse_dates=['AcquisitionMonth'], index_col=0)
cohort_counts

,1,2,3,4,5,6,7,8,9,10,11,12,13
AcquisitionMonth,,,,,,,,,,,,,
2010-12-01,716.0,246.0,221.0,251.0,245.0,285.0,249.0,236.0,240.0,265.0,254.0,348.0,172.0
2011-01-01,332.0,69.0,82.0,81.0,110.0,90.0,82.0,86.0,104.0,102.0,124.0,45.0,NaN
2011-02-01,316.0,58.0,57.0,83.0,85.0,74.0,80.0,83.0,86.0,95.0,28.0,NaN,NaN
2011-03-01,388.0,63.0,100.0,76.0,83.0,67.0,98.0,85.0,107.0,38.0,NaN,NaN,NaN
2011-04-01,255.0,49.0,52.0,49.0,47.0,52.0,56.0,59.0,17.0,NaN,NaN,NaN,NaN
2011-05-01,249.0,40.0,43.0,36.0,52.0,58.0,61.0,22.0,NaN,NaN,NaN,NaN,NaN
2011-06-01,207.0,33.0,26.0,41.0,49.0,62.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN
2011-07-01,173.0,28.0,31.0,38.0,44.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-08-01,139.0,30.0,28.0,35.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-09-01,279.0,56.0,78.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-01,318.0,67.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-11-01,291.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-01,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# exercise 01

"""
Build retention and churn tables

You have learned the main elements of the customer lifetime value calculation and certain variations of it. Now you will use use the monthly cohort activity dataset to calculate retention and churn values, which you will then explore and later use to project average customer lifetime value.

The pandas library has been loaded as pd and the cohorts_counts dataset has been imported. Feel free to explore it in the console.
"""

# Instructions

"""

    Extract cohort sizes from the first column of cohort_counts.

    Calculate retention by dividing the cohort counts with the cohort sizes.

    Calculate churn by subtracting 1 and the retention rates.

    Print the retention table.

"""

# solution

# Extract cohort sizes from the first column of cohort_counts
cohort_sizes = cohort_counts.iloc[:,0]

# Calculate retention by dividing the counts with the cohort sizes
retention = cohort_counts.divide(cohort_sizes, axis=0)

# Calculate churn
churn = 1 - retention

# Print the retention table
print(retention)

#----------------------------------#

# Conclusion

"""
Great! You are now ready to explore retention and churn rates.
"""

                    1         2         3         4         5         6  \
AcquisitionMonth
2010-12-01        1.0  0.343575  0.308659  0.350559  0.342179  0.398045
2011-01-01        1.0  0.207831  0.246988  0.243976  0.331325  0.271084
2011-02-01        1.0  0.183544  0.180380  0.262658  0.268987  0.234177
2011-03-01        1.0  0.162371  0.257732  0.195876  0.213918  0.172680
2011-04-01        1.0  0.192157  0.203922  0.192157  0.184314  0.203922
2011-05-01        1.0  0.160643  0.172691  0.144578  0.208835  0.232932
2011-06-01        1.0  0.159420  0.125604  0.198068  0.236715  0.299517
2011-07-01        1.0  0.161850  0.179191  0.219653  0.254335  0.098266
2011-08-01        1.0  0.215827  0.201439  0.251799  0.100719       NaN
2011-09-01        1.0  0.200717  0.279570  0.121864       NaN       NaN
2011-10-01        1.0  0.210692  0.094340       NaN       NaN       NaN
2011-11-01        1.0  0.109966       NaN       NaN       NaN       NaN
2011-12-01        1.0       NaN       NaN       NaN       NaN       NaN

                         7         8         9        10        11        12  \
AcquisitionMonth
2010-12-01        0.347765  0.329609  0.335196  0.370112  0.354749  0.486034
2011-01-01        0.246988  0.259036  0.313253  0.307229  0.373494  0.135542
2011-02-01        0.253165  0.262658  0.272152  0.300633  0.088608       NaN
2011-03-01        0.252577  0.219072  0.275773  0.097938       NaN       NaN
2011-04-01        0.219608  0.231373  0.066667       NaN       NaN       NaN
2011-05-01        0.244980  0.088353       NaN       NaN       NaN       NaN
2011-06-01        0.091787       NaN       NaN       NaN       NaN       NaN
2011-07-01             NaN       NaN       NaN       NaN       NaN       NaN
2011-08-01             NaN       NaN       NaN       NaN       NaN       NaN
2011-09-01             NaN       NaN       NaN       NaN       NaN       NaN
2011-10-01             NaN       NaN       NaN       NaN       NaN       NaN
2011-11-01             NaN       NaN       NaN       NaN       NaN       NaN
2011-12-01             NaN       NaN       NaN       NaN       NaN       NaN

                        13
AcquisitionMonth
2010-12-01        0.240223
2011-01-01             NaN
2011-02-01             NaN
2011-03-01             NaN
2011-04-01             NaN
2011-05-01             NaN
2011-06-01             NaN
2011-07-01             NaN
2011-08-01             NaN
2011-09-01             NaN
2011-10-01             NaN
2011-11-01             NaN
2011-12-01             NaN

'\nGreat! You are now ready to explore retention and churn rates.\n'

In [9]:
# exercise 02

"""
Explore retention and churn

Now that you have calculated the monthly retention and churn metrics for monthly customer cohorts, you can calculate the overall mean retention and churn rates. You will use the .mean() method twice in a row (this is called "chaining") to calculate the overall mean. You will have to exclude the first month values (first column) from this calculation as they are constant given this is the first month the customers have been active therefore their retention will be 100% and churn will be 0% for all cohorts.

The pandas and numpy libraries have been loaded as pd as np respectively. The retention and churn monthly datasets that you built in the previous exercises are also imported.
"""

# Instructions

"""

    Calculate the mean retention rate.

    Calculate the mean churn rate.

    Print rounded retention and churn rates.

"""
import numpy as np
# solution

# Calculate the mean retention rate
retention_rate = retention.iloc[:,1:].mean().mean()

# Calculate the mean churn rate
churn_rate = churn.iloc[:,1:].mean().mean()

# Print rounded retention and churn rates
print('Retention rate: {:.2f}; Churn rate: {:.2f}'.format(retention_rate, churn_rate))

#----------------------------------#

# Conclusion

"""
Good work! Exploring these rates is critical in customer lifetime value calculation as it gives you insight into the customer behavior.
"""

Retention rate: 0.24; Churn rate: 0.76

'\nGood work! Exploring these rates is critical in customer lifetime value calculation as it gives you insight into the customer behavior.\n'

In [12]:
online = pd.read_csv('datasets/online.csv', index_col='index')

online.head(1)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSum,InvoiceMonth
index,,,,,,,,,,
416792,572558,22745,POPPY'S PLAYHOUSE BEDROOM,6,2011-10-25 08:26:00,2.1,14286.0,United Kingdom,12.6,2011-10

In [13]:
# exercise 03

"""
Calculate basic CLV

You are now ready to calculate average customer lifetime with three different methods! In this exercise you will calculate the basic CLV which multiplies average monthly spent with the projected customer lifespan.

The pandas and numpy libraries have been loaded as pd as np respectively. The online dataset has been imported for you.
"""

# Instructions

"""

    Group by CustomerID and calculate monthly spend per customer.

    Calculate average monthly spend.

    Define lifespan to 36 months.

    Calculate basic CLV by multiplying monthly average spend with the lifespan.

"""

# solution

# Calculate monthly spend per customer
monthly_revenue = online.groupby(['CustomerID','InvoiceMonth'])['TotalSum'].sum()

# Calculate average monthly spend
monthly_revenue = np.mean(monthly_revenue)

# Define lifespan to 36 months
lifespan_months = 36

# Calculate basic CLV
clv_basic = monthly_revenue * lifespan_months

# Print the basic CLV value
print('Average basic CLV is {:.1f} USD'.format(clv_basic))

#----------------------------------#

# Conclusion

"""
Congratulations! You have successfully calculated the basic customer lifetime value.
"""

Average basic CLV is 4774.6 USD

'\nCongratulations! You have successfully calculated the basic customer lifetime value.\n'

In [14]:
# exercise 04

"""
Calculate granular CLV

In this scenario you will use more granular data points at the invoice level. This approach uses more granular data and can give a better customer lifetime value estimate. Make sure you compare the results with the one from the basic CLV model.

The pandas and numpy libraries have been loaded as pd as np respectively. The online dataset has been imported for you.
"""

# Instructions

"""

    Group by InvoiceNo and calculate the mean of the TotalSum column.

    Group by CustomerID and InvoiceMonth and calculate the mean number of unique monthly invoices per customer.

    Define lifespan to 36 months.

    Calculate the granular CLV by multiplying the three previous metrics.

"""

# solution

# Calculate average revenue per invoice
revenue_per_purchase = online.groupby(['InvoiceNo'])['TotalSum'].mean().mean()

# Calculate average number of unique invoices per customer per month
frequency_per_month = online.groupby(['CustomerID','InvoiceMonth'])['InvoiceNo'].nunique().mean()

# Define lifespan to 36 months
lifespan_months = 36

# Calculate granular CLV
clv_granular = revenue_per_purchase * frequency_per_month * lifespan_months

# Print granular CLV value
print('Average granular CLV is {:.1f} USD'.format(clv_granular))

#----------------------------------#

# Conclusion

"""
Good job! You can see how the granular approach gets you a different lifetime value estimate than the basic one.
"""

Average granular CLV is 1635.2 USD

'\nGood job! You can see how the granular approach gets you a different lifetime value estimate than the basic one.\n'

In [15]:
# exercise 05

"""
Calculate traditional CLV

Now you will calculate one of the most popular descriptive CLV models that accounts for the retention and churn rates. This gives a more robust estimate, but comes with certain assumptions that have to be validated. Make sure you review the video slides before you apply this method to your own use case.

The pandas and numpy libraries have been loaded as pd as np respectively. The online and retention datasets have been imported for you.
"""

# Instructions

"""

    Group by CustomerID and InvoiceMonth and calculate monthly spend per customer.

    Calculate average monthly retention rate.

    Calculate average monthly churn rate.

    Calculate traditional CLV by multiplying monthly average spend with retention to churn ratio.

"""

# solution

# Calculate monthly spend per customer
monthly_revenue = online.groupby(['CustomerID','InvoiceMonth'])['TotalSum'].sum().mean()

# Calculate average monthly retention rate
retention_rate = retention.iloc[:,1:].mean().mean()

# Calculate average monthly churn rate
churn_rate = 1 - retention_rate

# Calculate traditional CLV 
clv_traditional = monthly_revenue * (retention_rate / churn_rate)

# Print traditional CLV and the retention rate values
print('Average traditional CLV is {:.1f} USD at {:.1f} % retention_rate'.format(clv_traditional, retention_rate*100))

#----------------------------------#

# Conclusion

"""
Looks great! As you can see, the traditional CLV formula yields a much lower estimate as it accounts for monthly retention which is quite low for this company.
"""

Average traditional CLV is 42.4 USD at 24.2 % retention_rate

'\nLooks great! As you can see, the traditional CLV formula yields a much lower estimate as it accounts for monthly retention which is quite low for this company.\n'

In [21]:
online_X = pd.read_csv('datasets/online_x.csv', index_col='index', parse_dates=['InvoiceDate','AcquisitionDate','AcquisitionMonth', 'InvoiceMonth'])
online_X.head(1)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSum,InvoiceMonth,AcquisitionMonth,AcquisitionDate,CohortIndex
index,,,,,,,,,,,,,
416792,572558,22745,POPPY'S PLAYHOUSE BEDROOM,6,2011-10-25 08:26:00,2.1,14286.0,United Kingdom,12.6,2011-10-01,2011-04-01,2011-04-11 08:16:00,7

In [19]:
import datetime as dt

In [22]:
# exercise 06

"""
Build features

You are now fully equipped to build recency, frequency, monetary value and other customer level features for your regression model. Feature engineering is the most important step in the machine learning process. In this exercise you will create five customer-level features that you will then use in predicting next month's customer transactions. These features capture highly predictive customer behavior patterns.

The pandas and numpy libraries have been loaded as pd as np respectively. The online_X dataset has been imported for you. The datetime object NOW depicting the snapshot date you will use to calculate recency has been created for you.
"""

# Instructions

"""

    Calculate recency by subtracting the current date from the latest InvoiceDate.

    Calculate frequency by counting the unique number of invoices.

    Calculate monetary value by summing all spend values.

    Calculate average and total quantity.

"""

# solution

# Define the snapshot date
NOW = dt.datetime(2011,11,1)

# Calculate recency by subtracting current date from the latest InvoiceDate
features = online_X.groupby('CustomerID').agg({
  'InvoiceDate': lambda x: (NOW - x.max()).days,
  # Calculate frequency by counting unique number of invoices
  'InvoiceNo': pd.Series.nunique,
  # Calculate monetary value by summing all spend values
  'TotalSum': np.sum,
  # Calculate average and total quantity
  'Quantity': ['mean', 'sum']}).reset_index()

# Rename the columns
features.columns = ['CustomerID', 'recency', 'frequency', 'monetary', 'quantity_avg', 'quantity_total']

#----------------------------------#

# Conclusion

"""
Fantastic! You have successfully built the features for purchase prediction.
"""

/tmp/ipykernel_104149/2052137483.py:31: FutureWarning: The provided callable <function sum at 0x716ed02f9120> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  features = online_X.groupby('CustomerID').agg({

'\nFantastic! You have successfully built the features for purchase prediction.\n'

In [23]:
# exercise 07

"""
Define target variable

Here, you'll build a pandas pivot table with customers as rows, invoice months as columns, and number of invoice counts as values. You will use the last month's value as the target variable. The remaining variables can be used as the so-called lagged features in the model. You will not use them, but are highly encouraged to check if adding these variables will improve your model performance beyond what you'll see in the upcoming exercises.

The pandas and numpy libraries have been loaded as pd as np respectively. The online dataset has been imported for you.
"""

# Instructions

"""

    Build a pivot table using the pivot_table() function counting invoices.

    Store November 2011 sales data column name as a list.

    Store the target value as Y.

"""

# solution

# Build a pivot table counting invoices for each customer monthly
cust_month_tx = pd.pivot_table(data=online, values='InvoiceNo',
                               index=['CustomerID'], columns=['InvoiceMonth'],
                               aggfunc=pd.Series.nunique, fill_value=0)

# Store November 2011 data column name as a list
target = ['2011-11']

# Store target value as `Y`
Y = cust_month_tx[target]

#----------------------------------#

# Conclusion

"""
Perfect! Now with the target variable defined and the features built previously, you are ready to split the data into training and testing.
"""

'\nPerfect! Now with the target variable defined and the features built previously, you are ready to split the data into training and testing.\n'

In [35]:
# exercise 08

"""
Split data to training and testing

Final step before we move to building the regression model! Here, you will follow the steps of identifying the names of the target variable and the feature columns, extract the data, and split them into training and testing.

The pandas and numpy libraries have been loaded as pd as np respectively. The input features are imported as the features dataset, and the target variable you built in the previous exercise has been imported for you as Y.
"""

# Instructions

"""

    Store the customer identifier column name as a list.

    Select the feature column names excluding the customer identifier.

    Extract the features as X.

    Split the data to training and testing by using the train_test_split() function.

"""

# solution
from sklearn.model_selection import train_test_split
# Store customer identifier column name as a list
custid = ['CustomerID']

# Select feature column names excluding customer identifier
cols = [col for col in features.columns if col not in custid]

# Extract the features as `X`
X = features[cols].iloc[:Y.shape[0],:]

# Split data to training and testing
train_X, test_X, train_Y, test_Y = train_test_split(X, Y.iloc[:3372,:], test_size=0.25, random_state=99)

#----------------------------------#

# Conclusion

"""
Good job! The data is now fully prepared to be used for predicting next month transactions.
"""

'\nGood job! The data is now fully prepared to be used for predicting next month transactions.\n'

In [36]:
# exercise 09

"""
Predict next month transactions

You are finally in the stage of predicting next month's transaction with linear regression. Here you will use the input features you've previously built, train the model on them and the target variable, and predict the values on the unseen testing data. In the next exercise you will measure the model performance.

The LinearRegression function from sklearn library has been loaded for you. The training and testing features are loaded as train_X and test_X respectively, and the training and testing target variables are loaded as train_Y and test_Y.
"""

# Instructions

"""

    Initialize a linear regression instance.

    Fit the model to the training dataset.

    Predict the target variable for the training data.

    Predict the target variable for the testing data.

"""

# solution
from sklearn.linear_model import LinearRegression
# Initialize linear regression instance
linreg = LinearRegression()

# Fit the model to training dataset
linreg.fit(train_X, train_Y)

# Predict the target variable for training data
train_pred_Y = linreg.predict(train_X)

# Predict the target variable for testing data
test_pred_Y = linreg.predict(test_X)

#----------------------------------#

# Conclusion

"""
Great! You have built the model on the training data, and predicted values on testing data. Next, you will explore model fit.
"""

'\nGreat! You have built the model on the training data, and predicted values on testing data. Next, you will explore model fit.\n'

In [37]:
# exercise 10

"""
Measure model fit

Now you will measure the regression performance on both training and testing data with two metrics - root mean squared error and mean absolute error. This is a critical step where you are measuring how "close" are the model predictions compared to actual values.

The numpy library has been loaded as np. The mean_absolute_error and mean_squared_error functions have been loaded. The training and testing target variables are loaded as train_Y and test_Y, and the predicted training and testing values are imported as train_pred_Y and test_pred_Y respectively.
"""

# Instructions

"""

    Calculate the root mean squared error on the training data by using the np.sqrt() function.

    Calculate the mean absolute error on the training data.

    Calculate the root mean squared error on the testing data.

    Calculate the mean absolute error on the testing data.

"""

# solution
from sklearn.metrics import mean_squared_error, mean_absolute_error
# Calculate root mean squared error on training data
rmse_train = np.sqrt(mean_squared_error(train_Y, train_pred_Y))

# Calculate mean absolute error on training data
mae_train = mean_absolute_error(train_Y, train_pred_Y)

# Calculate root mean squared error on testing data
rmse_test = np.sqrt(mean_squared_error(test_Y, test_pred_Y))

# Calculate mean absolute error on testing data
mae_test = mean_absolute_error(test_Y, test_pred_Y)

# Print the performance metrics
print('RMSE train: {}; RMSE test: {}\nMAE train: {}, MAE test: {}'.format(rmse_train, rmse_test, mae_train, mae_test))

#----------------------------------#

# Conclusion

"""
Looks great! You have successfully calculated the root mean squared error and mean absolute error of the model performance on both training and testing datasets.
"""

RMSE train: 0.8693884559042385; RMSE test: 1.6078464842767959
MAE train: 0.6750713366548614, MAE test: 0.6878555812734993

'\n\n'

In [ ]:
# exercise 11

"""
Explore model coefficients

You will now explore the model performance from a different angle, and only on the training data. One thing you learned in the latest lesson is that not all model coefficients are statistically significant and we should look at the model summary table to explore their significance. Fortunately, the statsmodels library provides this functionality. Once you print the model summary table, explore which variables have the p-value lower than 0.05 (i.e. lower than 5%) to make sure the coefficient is significant.

The training features are loaded as train_X, and the target variable as train_Y which was converted to a numpy array.
"""

# Instructions

"""

    Import the statsmodels.api module.

    Initialize a model instance on the training data using the OLS() function.

    Fit the model.

    Print model summary using the .summary() method.

"""

# solution



#----------------------------------#

# Conclusion

"""

"""