In [15]:
# run this to shorten the data import from the files
path_data = ''

In [ ]:
# exercise 01

"""
Learning to COUNT()

You saw how to use COUNT() in the video. Do you remember what it returns?

Here is a query counting film_id. Select the answer below that correctly describes what the query will return.

SELECT COUNT(film_id) AS count_film_id
FROM reviews;

Run the query in the console to test your theory!
"""

# Instructions

"""
The number of unique films in the reviews table

The number of records containing a film_id (Answer)

The total number of records in the reviews table

The sum of the film_id field
"""

# solution



#----------------------------------#

# Conclusion

"""
Correct! COUNT(field_name) returns the number of records containing a value in a field. In this example, that field is film_id.
"""

'/home/nero/Documents/Estudos/DataCamp'

In [1]:
# exercise 02

"""
Practice with COUNT()

As you've seen, COUNT(*) tells you how many records are in a table. However, if you want to count the number of non-missing values in a particular field, you can call COUNT() on just that field.

Let's get some practice with COUNT()! You can look at the data in the tables throughout these exercises by clicking on the table name in the console.
"""

# Instructions

"""

    Count the number of records in the people table, aliasing the result as count_records.

    Count the number of records with a birthdate in the people table, aliasing the result as count_birthdate.

    Count the languages and countries in the films table; alias as count_languages and count_countries.

"""

# solution

-- Count the number of records in the people table
SELECT COUNT(*) AS count_records
FROM people;

#----------------------------------#

-- Count the number of birthdates in the people table
SELECT COUNT(birthdate) AS count_birthdate
FROM people;

#----------------------------------#

-- Count the languages and countries represented in the films table
SELECT COUNT(language) AS count_languages, COUNT(country) AS count_countries
FROM films;

#----------------------------------#

# Conclusion

"""
Tres Bien! Looking at the differences between the count of unique values, total values, and all records can provide useful insights into your data.
"""

'\n\n'

In [2]:
# exercise 03

"""
SELECT DISTINCT

Often query results will include many duplicate values. You can use the DISTINCT keyword to select the unique values from a field.

This might be useful if, for example, you're interested in knowing which languages are represented in the films table. See if you can find out what countries are represented in this table with the following exercises.
"""

# Instructions

"""

    Return the unique countries represented in the films table using DISTINCT.

    Return the number of unique countries represented in the films table, aliased as count_distinct_countries.

"""

# solution

-- Return the unique countries from the films table
SELECT DISTINCT(country)
FROM films;

#----------------------------------#

-- Count the distinct countries from the films table
SELECT COUNT(DISTINCT(country)) AS count_distinct_countries
FROM films;

#----------------------------------#

# Conclusion

"""
Congratulations! Using DISTINCT is a great tool to see the unique values of a dataset. This table has 64 unique countries.
"""

'\n\n'

In [3]:
# exercise 04

"""
Debugging errors

Debugging is an essential skill for all coders, and it comes from making many mistakes and learning from them.

In this exercise, you'll be given some buggy code that you'll need to fix.
"""

# Instructions

"""

    Debug and fix the SQL query provided.

    Find the two errors in this code; the same error has been repeated twice.

    Find the two bugs in this final query.

"""

# solution

-- Debug this code
SELECT certification
FROM films
LIMIT 5;

#----------------------------------#

-- Debug this code
SELECT film_id , imdb_score , num_votes
FROM reviews;

#----------------------------------#

-- Debug this code
SELECT COUNT(birthdate) AS count_birthdays
FROM people;

#----------------------------------#

# Conclusion

"""
Excellent extermination of those bugs! This is an important skill that will come in very handy.
"""

'\n\n'

In [4]:
# exercise 05

"""
Formatting

Readable code is highly valued in the coding community and professional settings. Without proper formatting, code and results can be difficult to interpret. You'll often be working with other people that need to understand your code or be able to explain your results, so having a solid formatting habit is essential.

In this exercise, you'll correct poorly written code to better adhere to SQL style standards.
"""

# Instructions

"""
Adjust the sample code so that it is in line with standard practices.
"""

# solution

-- Rewrite this query
SELECT person_id, role
FROM roles 
LIMIT 10;

#----------------------------------#

# Conclusion

"""
Great work formatting the code! Clean code allows for clean communication.
"""

'\n\n'