In [6]:
import pandas as pd
data_path = '/home/nero/Documents/Estudos/DataCamp/Python/Unsupervised_Learning_in_Python/datasets/articles.csv'

articles_raw = pd.read_csv(data_path, header=None)
articles_raw.head()

,0,1,2,3,4,5,6,7,8,9,...,13116,13117,13118,13119,13120,13121,13122,13123,13124,13125
0,NaN,0.0,1.0,2.000000,3.0,4.0,5.0,6.0,7.000000,8.0,...,13115.0,13116.0,13117.0,13118.0,13119.0,13120.0,13121.0,13122.000000,13123.0,13124.0
1,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,1.0,0.0,0.0,0.029607,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3,2.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.003772,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.011594,0.0,0.0
4,3.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [13]:
from scipy.sparse import csr_matrix
articles_csr = csr_matrix(articles_raw.values)
type(articles_csr)
articles_csr

<61x13126 sparse matrix of type '<class 'numpy.float64'>'
	with 55275 stored elements in Compressed Sparse Row format>