In [2]:
# run this to shorten the data import from the files
path_data = '/home/nero/Documents/Estudos/DataCamp/Python/Feature_Engineering_for_Machine_Learning_in_Python/datasets/'
import pandas as pd
import numpy as np

In [3]:
so_survey_csv = path_data + 'Combined_DS_v10.csv'

In [4]:
# exercise 01

"""
Getting to know your data

Pandas is one the most popular packages used to work with tabular data in Python. It is generally imported using the alias pd and can be used to load a CSV (or other delimited files) using read_csv().

You will be working with a modified subset of the Stackoverflow survey response data in the first three chapters of this course. This dataset records the details, and preferences of thousands of users of the StackOverflow website.
"""

# Instructions

"""

    Import the pandas library as pd.
    so_survey_csv contains the URL to a CSV file. Import it using Pandas into so_survey_df.
---
Print the first five rows of so_survey_df.
---
Print the data type of each column in so_survey_df.
---

"""

# solution

# Import pandas
import pandas as pd

# Import so_survey_csv into so_survey_df
so_survey_df = pd.read_csv(so_survey_csv)

# Print the first five rows of the DataFrame
print(so_survey_df.head())

# Print the data type of each column
print(so_survey_df.dtypes)

#----------------------------------#


# Conclusion

"""
Correct! ConvertedSalary contains floats which are numeric.
"""

      SurveyDate                                    FormalEducation
0  2/28/18 20:20           Bachelor's degree (BA. BS. B.Eng.. etc.)  \
1  6/28/18 13:26           Bachelor's degree (BA. BS. B.Eng.. etc.)
2    6/6/18 3:37           Bachelor's degree (BA. BS. B.Eng.. etc.)
3    5/9/18 1:06  Some college/university study without earning ...
4  4/12/18 22:41           Bachelor's degree (BA. BS. B.Eng.. etc.)

   ConvertedSalary Hobby       Country  StackOverflowJobsRecommend
0              NaN   Yes  South Africa                         NaN  \
1          70841.0   Yes       Sweeden                         7.0
2              NaN    No       Sweeden                         8.0
3          21426.0   Yes       Sweeden                         NaN
4          41671.0   Yes            UK                         8.0

      VersionControl  Age  Years Experience Gender   RawSalary
0                Git   21                13   Male         NaN
1     Git;Subversion   38                 9   Male   70,841.00
2                Git   45                11    NaN         NaN
3  Zip file back-ups   46                12   Male   21,426.00
4                Git   39                 7   Male  Â£41,671.00
SurveyDate                     object
FormalEducation                object
ConvertedSalary               float64
Hobby                          object
Country                        object
StackOverflowJobsRecommend    float64
VersionControl                 object
Age                             int64
Years Experience                int64
Gender                         object
RawSalary                      object
dtype: object

'\nCorrect! ConvertedSalary contains floats which are numeric.\n'

In [5]:
# exercise 02

"""
Selecting specific data types

Often a dataset will contain columns with several different data types (like the one you are working with). The majority of machine learning models require you to have a consistent data type across features. Similarly, most feature engineering techniques are applicable to only one type of data at a time. For these reasons among others, you will often want to be able to access just the columns of certain types when working with a DataFrame.

The DataFrame (so_survey_df) from the previous exercise is available in your workspace.
"""

# Instructions

"""

    Create a subset of so_survey_df consisting of only the numeric (int and float) columns.
    Print the column names contained in so_survey_df_num.

"""

# solution

# Create subset of only the numeric columns
so_numeric_df = so_survey_df.select_dtypes(include=['int','float'])

# Print the column names contained in so_survey_df_num
print(so_numeric_df.columns)

#----------------------------------#

# Conclusion

"""
Well done! In the next lesson, you will learn the most common ways of dealing with categorical data.
"""

Index(['ConvertedSalary', 'StackOverflowJobsRecommend', 'Age',
       'Years Experience'],
      dtype='object')

'\nWell done! In the next lesson, you will learn the most common ways of dealing with categorical data.\n'

In [6]:
# exercise 03

"""
One-hot encoding and dummy variables

To use categorical variables in a machine learning model, you first need to represent them in a quantitative way. The two most common approaches are to one-hot encode the variables using or to use dummy variables. In this exercise, you will create both types of encoding, and compare the created column sets. We will continue using the same DataFrame from previous lesson loaded as so_survey_df and focusing on its Country column.
"""

# Instructions

"""
One-hot encode the Country column, adding "OH" as a prefix for each column.

Create dummy variables for the Country column, adding "DM" as a prefix for each column.
"""

# solution

# Convert the Country column to a one hot encoded Data Frame
one_hot_encoded = pd.get_dummies(so_survey_df, columns=['Country'], prefix='OH')

# Print the columns names
print(one_hot_encoded.columns)

#----------------------------------#

# Create dummy variables for the Country column
dummy = pd.get_dummies(so_survey_df, columns=['Country'], drop_first=True, prefix='DM')

# Print the columns names
print(dummy.columns)

#----------------------------------#

# Conclusion

"""
Great job! Did you notice that the column for France was missing when you created dummy variables? Now you can choose to use one-hot encoding or dummy variables where appropriate.
"""

Index(['SurveyDate', 'FormalEducation', 'ConvertedSalary', 'Hobby',
       'StackOverflowJobsRecommend', 'VersionControl', 'Age',
       'Years Experience', 'Gender', 'RawSalary', 'OH_France', 'OH_India',
       'OH_Ireland', 'OH_Russia', 'OH_South Africa', 'OH_Spain', 'OH_Sweeden',
       'OH_UK', 'OH_USA', 'OH_Ukraine'],
      dtype='object')
Index(['SurveyDate', 'FormalEducation', 'ConvertedSalary', 'Hobby',
       'StackOverflowJobsRecommend', 'VersionControl', 'Age',
       'Years Experience', 'Gender', 'RawSalary', 'DM_India', 'DM_Ireland',
       'DM_Russia', 'DM_South Africa', 'DM_Spain', 'DM_Sweeden', 'DM_UK',
       'DM_USA', 'DM_Ukraine'],
      dtype='object')

'\nGreat job! Did you notice that the column for France was missing when you created dummy variables? Now you can choose to use one-hot encoding or dummy variables where appropriate.\n'

In [11]:
# exercise 04

"""
Dealing with uncommon categories

Some features can have many different categories but a very uneven distribution of their occurrences. Take for example Data Science's favorite languages to code in, some common choices are Python, R, and Julia, but there can be individuals with bespoke choices, like FORTRAN, C etc. In these cases, you may not want to create a feature for each value, but only the more common occurrences.
"""

# Instructions

"""

    Extract the Country column of so_survey_df as a series and assign it to countries.
    Find the counts of each category in the newly created countries series.
---

    Create a mask for values occurring less than 10 times in country_counts.
    Print the first 5 rows of the mask.
---

    Label values occurring less than the mask cutoff as 'Other'.
    Print the new category counts in countries.

"""

# solution

# Create a series out of the Country column
countries = so_survey_df.Country

# Get the counts of each category
country_counts = countries.value_counts()

# Print the count values for each category
print(country_counts)

#----------------------------------#

# Create a series out of the Country column
countries = so_survey_df['Country']

# Get the counts of each category
country_counts = countries.value_counts()

# Create a mask for only categories that occur less than 10 times
mask = countries.isin(country_counts[country_counts < 10].index)

# Print the top 5 rows in the mask series
print(mask.head())

#----------------------------------#

# Create a series out of the Country column
countries = so_survey_df['Country']

# Get the counts of each category
country_counts = countries.value_counts()

# Create a mask for only categories that occur less than 10 times
mask = countries.isin(country_counts[country_counts < 10].index)

# Label all other categories as Other
countries.loc[mask] = 'Other'

# Print the updated category counts
print(countries.value_counts())

#----------------------------------#

# Conclusion

"""
Good work, now you can work with large datasets while grouping low frequency categories.
"""

Country
South Africa    166
USA             164
Spain           134
Sweeden         119
France          115
Russia           97
UK               95
India            95
Other            14
Name: count, dtype: int64
0    False
1    False
2    False
3    False
4    False
Name: Country, dtype: bool
Country
South Africa    166
USA             164
Spain           134
Sweeden         119
France          115
Russia           97
UK               95
India            95
Other            14
Name: count, dtype: int64

/tmp/ipykernel_180215/572884252.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countries.iloc[mask] = 'Other'

'\nGood work, now you can work with large datasets while grouping low frequency categories.\n'

In [12]:
# exercise 05

"""
Binarizing columns

While numeric values can often be used without any feature engineering, there will be cases when some form of manipulation can be useful. For example on some occasions, you might not care about the magnitude of a value but only care about its direction, or if it exists at all. In these situations, you will want to binarize a column. In the so_survey_df data, you have a large number of survey respondents that are working voluntarily (without pay). You will create a new column titled Paid_Job indicating whether each person is paid (their salary is greater than zero).
"""

# Instructions

"""

    Create a new column called Paid_Job filled with zeros.
    Replace all the Paid_Job values with a 1 where the corresponding ConvertedSalary is greater than 0.

"""

# solution

# Create the Paid_Job column filled with zeros
so_survey_df['Paid_Job'] = 0

# Replace all the Paid_Job values where ConvertedSalary is > 0
so_survey_df.loc[so_survey_df['ConvertedSalary'] > 0, 'Paid_Job'] = 1

# Print the first five rows of the columns
print(so_survey_df[['Paid_Job', 'ConvertedSalary']].head())

#----------------------------------#

# Conclusion

"""
Good work, binarizing columns can also be useful for your target variables.
"""

   Paid_Job  ConvertedSalary
0         0              NaN
1         1          70841.0
2         0              NaN
3         1          21426.0
4         1          41671.0

'\nGood work, binarizing columns can also be useful for your target variables.\n'

In [13]:
# exercise 06

"""
Binning values

For many continuous values you will care less about the exact value of a numeric column, but instead care about the bucket it falls into. This can be useful when plotting values, or simplifying your machine learning models. It is mostly used on continuous variables where accuracy is not the biggest concern e.g. age, height, wages.

Bins are created using pd.cut(df['column_name'], bins) where bins can be an integer specifying the number of evenly spaced bins, or a list of bin boundaries.
"""

# Instructions

"""
Bin the value of the ConvertedSalary column in so_survey_df into 5 equal bins, in a new column called equal_binned.

Bin the ConvertedSalary column using the boundaries in the list bins and label the bins using labels.
"""

# solution

# Bin the continuous variable ConvertedSalary into 5 bins
so_survey_df['equal_binned'] = pd.cut(so_survey_df['ConvertedSalary'], bins = 5)

# Print the first 5 rows of the equal_binned column
print(so_survey_df[['equal_binned', 'ConvertedSalary']].head())

#----------------------------------#

# Import numpy
import numpy as np

# Specify the boundaries of the bins
bins = [-np.inf, 10000, 50000, 100000, 150000, np.inf]

# Bin labels
labels = ['Very low', 'Low', 'Medium', 'High', 'Very high']

# Bin the continuous variable ConvertedSalary using these boundaries
so_survey_df['boundary_binned'] = pd.cut(so_survey_df['ConvertedSalary'], 
                                         bins = bins, labels = labels)

# Print the first 5 rows of the boundary_binned column
print(so_survey_df[['boundary_binned', 'ConvertedSalary']].head())

#----------------------------------#

# Conclusion

"""
Correct, now you can bin columns with equal spacing and predefined boundaries.
"""

          equal_binned  ConvertedSalary
0                  NaN              NaN
1  (-2000.0, 400000.0]          70841.0
2                  NaN              NaN
3  (-2000.0, 400000.0]          21426.0
4  (-2000.0, 400000.0]          41671.0
  boundary_binned  ConvertedSalary
0             NaN              NaN
1          Medium          70841.0
2             NaN              NaN
3             Low          21426.0
4             Low          41671.0

'\nCorrect, now you can bin columns with equal spacing and predefined boundaries.\n'