In [15]:
# run this to shorten the data import from the files
path_data = '/home/nero/Documents/Estudos/DataCamp/Python/Feature_Engineering_for_Machine_Learning_in_Python/datasets/'
import pandas as pd
import numpy as np

In [16]:
so_survey_csv = path_data + 'Combined_DS_v10.csv'
so_survey_df = pd.read_csv(so_survey_csv)

In [17]:
# exercise 01

"""
How sparse is my data?

Most datasets contain missing values, often represented as NaN (Not a Number). If you are working with Pandas you can easily check how many missing values exist in each column.

Let's find out how many of the developers taking the survey chose to enter their age (found in the Age column of so_survey_df) and their gender (Gender column of so_survey_df).
"""

# Instructions

"""

    Subset the DataFrame to only include the 'Age' and 'Gender' columns.
    Print the number of non-missing values in both columns.
---

"""

# solution

# Subset the DataFrame
sub_df = so_survey_df[['Age','Gender']]

# Print the number of non-missing values
print(sub_df.info())

#----------------------------------#

# Conclusion

"""
Correct, there are 693 non-missing entries in the Gender column.
"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     999 non-null    int64
 1   Gender  693 non-null    object
dtypes: int64(1), object(1)
memory usage: 15.7+ KB
None

'\nCorrect, there are 693 non-missing entries in the Gender column.\n'

In [18]:
# exercise 02

"""
Finding the missing values

While having a summary of how much of your data is missing can be useful, often you will need to find the exact locations of these missing values. Using the same subset of the StackOverflow data from the last exercise (sub_df), you will show how a value can be flagged as missing.
"""

# Instructions

"""
Print the first 10 entries of the DataFrame.

Print the locations of the missing values in the first 10 rows.

Print the locations of the non-missing values in the first 10 rows.
"""

# solution

# Print the top 10 entries of the DataFrame
print(sub_df.head(10))

#----------------------------------#

# Print the locations of the missing values
print(sub_df.head(10).isnull())

#----------------------------------#

# Print the locations of the missing values
print(sub_df.head(10).notnull())

#----------------------------------#

# Conclusion

"""
Well done, finding where the missing values exist can often be important.
"""

   Age  Gender
0   21    Male
1   38    Male
2   45     NaN
3   46    Male
4   39    Male
5   39    Male
6   34    Male
7   24  Female
8   23    Male
9   36     NaN
     Age  Gender
0  False   False
1  False   False
2  False    True
3  False   False
4  False   False
5  False   False
6  False   False
7  False   False
8  False   False
9  False    True
    Age  Gender
0  True    True
1  True    True
2  True   False
3  True    True
4  True    True
5  True    True
6  True    True
7  True    True
8  True    True
9  True   False

'\nWell done, finding where the missing values exist can often be important.\n'

In [19]:
# exercise 03

"""
Listwise deletion

The simplest way to deal with missing values in your dataset when they are occurring entirely at random is to remove those rows, also called 'listwise deletion'.

Depending on the use case, you will sometimes want to remove all missing values in your data while other times you may want to only remove a particular column if too many values are missing in that column.
"""

# Instructions

"""
Print the number of rows and columns in so_survey_df.

Drop all rows with missing values in so_survey_df.

Drop all columns with missing values in so_survey_df.

Drop all rows in so_survey_df where 'Gender' is missing.
"""

# solution

# Print the number of rows and columns
print(so_survey_df.shape)

#----------------------------------#

# Create a new DataFrame dropping all incomplete rows
no_missing_values_rows = so_survey_df.dropna()

# Print the shape of the new DataFrame
print(no_missing_values_rows.shape)

#----------------------------------#

# Create a new DataFrame dropping all columns with incomplete rows
no_missing_values_cols = so_survey_df.dropna(how='any', axis=1)

# Print the shape of the new DataFrame
print(no_missing_values_cols.shape)

#----------------------------------#

# Drop all rows where Gender is missing
no_gender = so_survey_df.dropna(subset=['Gender'])

# Print the shape of the new DataFrame
print(no_gender.shape)

#----------------------------------#

# Conclusion

"""
Correct, as you can see dropping all rows that contain any missing values may greatly reduce the size of your dataset. So you need to think carefully and consider several trade-offs when deleting missing values.
"""

(999, 11)
(264, 11)
(999, 7)
(693, 11)

'\nCorrect, as you can see dropping all rows that contain any missing values may greatly reduce the size of your dataset. So you need to think carefully and consider several trade-offs when deleting missing values.\n'

In [20]:
# exercise 04

"""
Replacing missing values with constants

While removing missing data entirely maybe a correct approach in many situations, this may result in a lot of information being omitted from your models.

You may find categorical columns where the missing value is a valid piece of information in itself, such as someone refusing to answer a question in a survey. In these cases, you can fill all missing values with a new category entirely, for example 'No response given'.
"""

# Instructions

"""
Print the count of occurrences of each category in so_survey_df's Gender column.
---
Replace all missing values in the Gender column with the string 'Not Given'. Make changes to the original DataFrame.
"""

# solution

# Print the count of occurrences
print(so_survey_df['Gender'].value_counts())

#----------------------------------#

# Replace missing values
so_survey_df['Gender'].fillna(value = 'Not Given', inplace = True)

# Print the count of each value
print(so_survey_df['Gender'].value_counts())

#----------------------------------#

# Conclusion

"""
Wonderful! By filling in these missing values you can use the columns in your analyses.
"""

Gender
Male                                                                         632
Female                                                                        53
Female;Male                                                                    2
Transgender                                                                    2
Female;Male;Transgender;Non-binary. genderqueer. or gender non-conforming      1
Male;Non-binary. genderqueer. or gender non-conforming                         1
Non-binary. genderqueer. or gender non-conforming                              1
Female;Transgender                                                             1
Name: count, dtype: int64
Gender
Male                                                                         632
Not Given                                                                    306
Female                                                                        53
Female;Male                                                                    2
Transgender                                                                    2
Female;Male;Transgender;Non-binary. genderqueer. or gender non-conforming      1
Male;Non-binary. genderqueer. or gender non-conforming                         1
Non-binary. genderqueer. or gender non-conforming                              1
Female;Transgender                                                             1
Name: count, dtype: int64

'\nWonderful! By filling in these missing values you can use the columns in your analyses.\n'

In [21]:
# exercise 05

"""
Filling continuous missing values

In the last lesson, you dealt with different methods of removing data missing values and filling in missing values with a fixed string. These approaches are valid in many cases, particularly when dealing with categorical columns but have limited use when working with continuous values. In these cases, it may be most valid to fill the missing values in the column with a value calculated from the entries present in the column.
"""

# Instructions

"""
Print the first five rows of the StackOverflowJobsRecommend column of so_survey_df.
---
Replace the missing values in the StackOverflowJobsRecommend column with its mean. Make changes directly to the original DataFrame.
---

"""

# solution

# Print the first five rows of StackOverflowJobsRecommend column
print(so_survey_df['StackOverflowJobsRecommend'].head())

#----------------------------------#

# Fill missing values with the mean
so_survey_df['StackOverflowJobsRecommend'].fillna(so_survey_df['StackOverflowJobsRecommend'].mean(), inplace=True)

# Print the first five rows of StackOverflowJobsRecommend column
print(so_survey_df['StackOverflowJobsRecommend'].head())

#----------------------------------#

# Fill missing values with the mean
so_survey_df['StackOverflowJobsRecommend'].fillna(so_survey_df['StackOverflowJobsRecommend'].mean(), inplace=True)

# Round the StackOverflowJobsRecommend values
so_survey_df['StackOverflowJobsRecommend'] = round(so_survey_df['StackOverflowJobsRecommend'])

# Print the top 5 rows
print(so_survey_df['StackOverflowJobsRecommend'].head())

#----------------------------------#

# Conclusion

"""
Nicely done, remember you should only round your values if you are certain it is applicable.
"""

0    NaN
1    7.0
2    8.0
3    NaN
4    8.0
Name: StackOverflowJobsRecommend, dtype: float64
0    7.061602
1    7.000000
2    8.000000
3    7.061602
4    8.000000
Name: StackOverflowJobsRecommend, dtype: float64
0    7.0
1    7.0
2    8.0
3    7.0
4    8.0
Name: StackOverflowJobsRecommend, dtype: float64

'\nNicely done, remember you should only round your values if you are certain it is applicable.\n'

In [22]:
# exercise 06

"""
Imputing values in predictive models

When working with predictive models you will often have a separate train and test DataFrames. In these cases you want to ensure no information from your test set leaks into your train set. When filling missing values in data to be used in these situations how should approach the two datasets?
Answer the question
50XP
Possible Answers

    Only fill the train set.
    
    Only fill the test set.
    
    Apply the measures of central tendency (mean/median etc.) calculated on the train set to both the train and test sets. (answer)
    
    Apply the measures of central tendency (mean/median etc.) calculated on the test set to both the train and test sets.
    
    Apply the measures of central tendency (mean/median etc.) calculated on the train set to the train set, and the measures calculated on the test set, to the test set.
"""

# Instructions

"""

"""

# solution



#----------------------------------#

# Conclusion

"""
Correct, values calculated on the train test should be applied to both DataFrames.
"""

'\nCorrect, values calculated on the train test should be applied to both DataFrames.\n'

In [23]:
# exercise 07

"""
Dealing with stray characters (I)

In this exercise, you will work with the RawSalary column of so_survey_df which contains the wages of the respondents along with the currency symbols and commas, such as $42,000. When importing data from Microsoft Excel, more often that not you will come across data in this form.
"""

# Instructions

"""
Remove the commas (,) from the RawSalary column.

Remove the dollar ($) signs from the RawSalary column.
"""

# solution

# Remove the commas in the column
so_survey_df['RawSalary'] = so_survey_df['RawSalary'].str.replace(',', '')

#----------------------------------#

# Remove the dollar signs in the column
so_survey_df['RawSalary'] = so_survey_df['RawSalary'].str.replace('$','')

#----------------------------------#

# Conclusion

"""
Congratulations! Replacing/removing specific characters is a very useful skill.
"""

'\nCongratulations! Replacing/removing specific characters is a very useful skill.\n'

In [24]:
# exercise 08

"""
Dealing with stray characters (II)

In the last exercise, you could tell quickly based off of the df.head() call which characters were causing an issue. In many cases this will not be so apparent. There will often be values deep within a column that are preventing you from casting a column as a numeric type so that it can be used in a model or further feature engineering.

One approach to finding these values is to force the column to the data type desired using pd.to_numeric(), coercing any values causing issues to NaN, Then filtering the DataFrame by just the rows containing the NaN values.

Try to cast the RawSalary column as a float and it will fail as an additional character can now be found in it. Find the character and remove it so the column can be cast as a float.
"""

# Instructions

"""

    Attempt to convert the RawSalary column of so_survey_df to numeric values coercing all failures into null values.
    Find the indexes of the rows containing NaNs.
    Print the rows in RawSalary based on these indexes.
---

"""

# solution

# Attempt to convert the column to numeric values
numeric_vals = pd.to_numeric(so_survey_df['RawSalary'], errors='coerce')

# Find the indexes of missing values
idx = numeric_vals.isnull()

# Print the relevant rows
print(so_survey_df['RawSalary'][idx])

#----------------------------------#

# Replace the offending characters
so_survey_df['RawSalary'] = so_survey_df['RawSalary'].str.replace('£','')

# Convert the column to float
so_survey_df['RawSalary'] = so_survey_df['RawSalary'].astype('float')

# Print the column
print(so_survey_df['RawSalary'])

#----------------------------------#

# Conclusion

"""
Nicely done! Remember that even after removing all the relevant characters, you still need to change the type of the column to numeric if you want to plot these continuous values.
"""

0            NaN
2            NaN
4      £41671.00
6            NaN
8            NaN
         ...
989          NaN
990          NaN
992          NaN
994          NaN
997          NaN
Name: RawSalary, Length: 401, dtype: object
0            NaN
1        70841.0
2            NaN
3        21426.0
4        41671.0
         ...
994          NaN
995      58746.0
996      55000.0
997          NaN
998    1000000.0
Name: RawSalary, Length: 999, dtype: float64

'\nNicely done! Remember that even after removing all the relevant characters, you still need to change the type of the column to numeric if you want to plot these continuous values.\n'

In [ ]:
# exercise 09

"""
Method chaining

When applying multiple operations on the same column (like in the previous exercises), you made the changes in several steps, assigning the results back in each step. However, when applying multiple successive operations on the same column, you can "chain" these operations together for clarity and ease of management. This can be achieved by calling multiple methods sequentially:

# Method chaining
df['column'] = df['column'].method1().method2().method3()

# Same as 
df['column'] = df['column'].method1()
df['column'] = df['column'].method2()
df['column'] = df['column'].method3()

In this exercise you will repeat the steps you performed in the last two exercises, but do so using method chaining.
"""

# Instructions

"""

    Remove the commas (,) from the RawSalary column of so_survey_df.
    Remove the dollar ($) signs from the RawSalary column.
    Remove the pound (£) signs from the RawSalary column.
    Convert the RawSalary column to float.

"""

# solution

# Use method chaining
so_survey_df['RawSalary'] = so_survey_df['RawSalary']\
                              .str.replace(',','')\
                              .str.replace('$','')\
                              .str.replace('£','')\
                              .astype('float')
 
# Print the RawSalary column
print(so_survey_df['RawSalary'])

#----------------------------------#

# Conclusion

"""
Great job! Custom functions can be also used when method chaining using the .apply() method.
"""