# Types of database constraints

Which of the following is not used to enforce a database constraint?

### Possible Answers


    Foreign keys
    
    
    SQL aggregate functions {Answer}
    
    
    The BIGINT data type
    
    
    Primary keys

**Exactly! SQL aggregate functions are not used to enforce constraints, but to do calculations on data.**

In [ ]:
# exercise 01

"""
Conforming with data types

For demonstration purposes, I created a fictional database table that only holds three records. The columns have the data types date, integer, and text, respectively.

CREATE TABLE transactions (
 transaction_date date, 
 amount integer,
 fee text
);

Have a look at the contents of the transactions table.

The transaction_date accepts date values. According to the PostgreSQL documentation, it accepts values in the form of YYYY-MM-DD, DD/MM/YY, and so forth.
(https://www.postgresql.org/docs/10/datatype-datetime.html#DATATYPE-DATETIME-INPUT)
Both columns amount and fee appear to be numeric, however, the latter is modeled as text – which you will account for in the next exercise.
"""

# Instructions

"""

    Execute the given sample code.

    As it doesn't work, have a look at the error message and correct the statement accordingly – then execute it again.

"""

# solution

-- Let's add a record to the table
INSERT INTO transactions (transaction_date, amount, fee) 
VALUES ('2018-09-24', 5454, '30');

-- Doublecheck the contents
SELECT *
FROM transactions;

#----------------------------------#

# Conclusion

"""
Good work. You can see that data types provide certain restrictions on how data can be entered into a table. This may be tedious at the moment of insertion, but saves a lot of headache in the long run.
"""

'/home/nero/Documents/Estudos/DataCamp'

In [1]:
# exercise 02

"""
Type CASTs

In the video, you saw that type casts are a possible solution for data type issues. If you know that a certain column stores numbers as text, you can cast the column to a numeric form, i.e. to integer.

SELECT CAST(some_column AS integer)
FROM table;

Now, the some_column column is temporarily represented as integer instead of text, meaning that you can perform numeric calculations on the column.
"""

# Instructions

"""

    Execute the given sample code.
    
    As it doesn't work, add an integer type cast at the right place and execute it again.

"""

# solution

-- Calculate the net amount as amount + fee
SELECT transaction_date, amount + CAST(fee AS INTEGER) AS net_amount 
FROM transactions;

#----------------------------------#

# Conclusion

"""
Good job! You saw how, sometimes, type casts are necessary to work with data. However, it is better to store columns in the right data type from the first place. You'll learn how to do this in the next exercises.
"""

'\n\n'

In [2]:
# exercise 03

"""
Change types with ALTER COLUMN

The syntax for changing the data type of a column is straightforward. The following code changes the data type of the column_name column in table_name to varchar(10):

ALTER TABLE table_name
ALTER COLUMN column_name
TYPE varchar(10)

Now it's time to start adding constraints to your database.
"""

# Instructions

"""
Have a look at the distinct university_shortname values in the professors table and take note of the length of the strings.
---
Now specify a fixed-length character type with the correct length for university_shortname.
---
Change the type of the firstname column to varchar(64).
"""

# solution

-- Select the university_shortname column
SELECT DISTINCT(university_shortname) 
FROM professors;

#----------------------------------#

-- Specify the correct fixed-length character type
ALTER TABLE professors
ALTER COLUMN university_shortname
TYPE CHAR(3);

#----------------------------------#

-- Change the type of firstname
ALTER TABLE professors
ALTER COLUMN firstname
TYPE VARCHAR(64);

#----------------------------------#

# Conclusion

"""
Good work. I've specified the types of the other tables for you.
"""

'\n\n'

In [3]:
# exercise 04

"""
Convert types USING a function

If you don't want to reserve too much space for a certain varchar column, you can truncate the values before converting its type.

For this, you can use the following syntax:

ALTER TABLE table_name
ALTER COLUMN column_name
TYPE varchar(x)
USING SUBSTRING(column_name FROM 1 FOR x)

You should read it like this: Because you want to reserve only x characters for column_name, you have to retain a SUBSTRING of every value, i.e. the first x characters of it, and throw away the rest. This way, the values will fit the varchar(x) requirement.
"""

# Instructions

"""

    Run the sample code as is and take note of the error.

    Now use SUBSTRING() to reduce firstname to 16 characters so its type can be altered to varchar(16).

"""

# solution

-- Convert the values in firstname to a max. of 16 characters
ALTER TABLE professors 
ALTER COLUMN firstname 
TYPE varchar(16)
USING SUBSTRING(firstname FROM 1 FOR 16);

#----------------------------------#

# Conclusion

"""
Perfect! However, it's best not to truncate any values in your database, so we'll revert this column to varchar(64). Now it's time to move on to the next set of attribute constraints!
"""

'\n\n'

In [4]:
# exercise 05

"""
Disallow NULL values with SET NOT NULL

The professors table is almost ready now. However, it still allows for NULLs to be entered. Although some information might be missing about some professors, there's certainly columns that always need to be specified.
"""

# Instructions

"""
Add a not-null constraint for the firstname column.
---
Add a not-null constraint for the lastname column.
"""

# solution

-- Disallow NULL values in firstname
ALTER TABLE professors 
ALTER COLUMN firstname SET NOT NULL;

#----------------------------------#

-- Disallow NULL values in lastname
ALTER TABLE professors
ALTER COLUMN lastname SET NOT NULL;

#----------------------------------#

# Conclusion

"""
Good job - it is no longer possible to add professors which have either their first or last name set to NULL. Likewise, it is no longer possible to update an existing professor and setting their first or last name to NULL.
"""

'\n\n'

In [5]:
# exercise 06

"""
What happens if you try to enter NULLs?

Execute the following statement:

INSERT INTO professors (firstname, lastname, university_shortname)
VALUES (NULL, 'Miller', 'ETH');

Why does this throw an error?
"""

# Instructions

"""
Possible answers:
    
    Professors without first names do not exist.
    
    Because a database constraint is violated. {Answer}
    
    Error? This works just fine.
    
    NULL is not put in quotes.
"""

# solution



#----------------------------------#

# Conclusion

"""
Correct! This statement violates one of the not-null constraints you've just specified.
"""

'\n\n'

In [6]:
# exercise 07

"""
Make your columns UNIQUE with ADD CONSTRAINT

As seen in the video, you add the UNIQUE keyword after the column_name that should be unique. This, of course, only works for new tables:

CREATE TABLE table_name (
 column_name UNIQUE
);

If you want to add a unique constraint to an existing table, you do it like that:

ALTER TABLE table_name
ADD CONSTRAINT some_name UNIQUE(column_name);

Note that this is different from the ALTER COLUMN syntax for the not-null constraint. Also, you have to give the constraint a name some_name.
"""

# Instructions

"""
Add a unique constraint to the university_shortname column in universities. Give it the name university_shortname_unq.
---
Add a unique constraint to the organization column in organizations. Give it the name organization_unq.
"""

# solution

-- Make universities.university_shortname unique
ALTER TABLE universities
ADD CONSTRAINT university_shortname_unq UNIQUE(university_shortname);

#----------------------------------#

-- Make organizations.organization unique
ALTER TABLE organizations
ADD CONSTRAINT organization_unq UNIQUE(organization)

#----------------------------------#

# Conclusion

"""
Perfect. Making sure universities.university_shortname and organizations.organization only contain unique values is a prerequisite for turning them into so-called primary keys – the subject of the next chapter!
"""

'\n\n'