In [1]:
# run this to shorten the data import from the files
path_data = '/home/nero/Documents/Estudos/DataCamp/Python/courses/Analyzing_Financial_Statements_in_Python/datasets/'

In [2]:
# exercise 01

"""
Compute net cash flow

In the last video, you saw what cash outflows and inflows are. In this exercise, you'll put that knowledge to the test. You'll add and subtract transactions to the net income to compute net cash flow. The exercise has one transaction from each part of the cash flow statement: cash flow from operating, investing, and financing activities.
"""

# Instructions

"""

    Correctly add and subtract the net cash inflows and outflows from the net income, filling in the blanks with + or -.

"""

# solution

net_profit = 1000

decrease_in_accounts_recievable = 20

sale_of_property = 430

dividends_paid = 50

# Fill in the blanks
net_cash_flow = net_profit + decrease_in_accounts_recievable + sale_of_property - dividends_paid
print(net_cash_flow)

#----------------------------------#

# Conclusion

"""
Well done! When computing net cash flow, you should always consider the material effect a transaction would have on the cash balance. Transactions that increase the cash balance will be a cash inflow and vice-versa.
"""

1400

'\nWell done! When computing net cash flow, you should always consider the material effect a transaction would have on the cash balance. Transactions that increase the cash balance will be a cash inflow and vice-versa.\n'

In [9]:
import pandas as pd

income_statement = pd.read_csv(path_data+'ch3_income_statment.csv').drop(columns=['Unnamed: 0'])
balance_sheet = pd.read_csv(path_data + 'ch3_balance_sheet.csv').drop(columns=['Unnamed: 0'])

display(income_statement.head(), balance_sheet.head())

   Year company          Ebit  Total Revenue   Net Income  Cost Of Revenue
0  2019    AAPL   63930000000   260174000000  55256000000     161782000000
1  2020    AAPL   66288000000   274515000000  57411000000     169559000000
2  2021    AAPL  108949000000   365817000000  94680000000     212981000000
3  2022    AAPL  119437000000   394328000000  99803000000     223546000000
4  2019    MSFT   42959000000   125843000000  39240000000      42910000000

   Year company         Cash  Total Assets  Total Current Liabilities
0  2019    AAPL  48844000000  338516000000               105718000000
1  2020    AAPL  38016000000  323888000000               105392000000
2  2021    AAPL  34940000000  351002000000               125481000000
3  2022    AAPL  23646000000  352755000000               153982000000
4  2019    MSFT  11356000000  286556000000                69420000000

In [13]:
# exercise 02

"""
Merging financial statements

You just learned to read JSON data into Python and compute two ratios from the cash flow statement. Computing the cash flow to net income ratio and operating cash flow ratio not only needs information from a company's cash flow statement, but also the income statement and balance sheet.

In this exercise, you'll practice loading JSON data into Python using pandas and merging it with the income statement and balance sheet data.

pandas has already been loaded for you as pd. The datasets with balance sheet and income statement information are called balance_sheet and income_statement, respectively. These have also been loaded for you.
"""

# Instructions

"""

    Begin by reading cash_flow_tech.json as a pandas DataFrame.
    Merge the income statement with the balance sheet data, calling the result merged_income_statement_balance_sheet; use "Year" and "company" as columns to join on.
    Merge cash flow data with merged_income_statement_balance_sheet.

"""

# solution

# Read cash flow data
cash_flow = pd.read_json(path_data+'cash_flow_tech.json')

# Merge income statement data with balance sheet data
merged_income_statement_balance_sheet = pd.merge(income_statement, balance_sheet, on=['Year','company'])

# Now merge it with cash flow data
merged_all = pd.merge(cash_flow, merged_income_statement_balance_sheet, on=['Year','company'])

#----------------------------------#

# Conclusion

"""
Well done; you're able to merge information from different financial statements to compute ratios that need information from different statements.
"""

"\nWell done; you're able to merge information from different financial statements to compute ratios that need information from different statements.\n"

In [15]:
merged_dat = pd.read_csv(path_data+'ch3_merged_dat.csv').drop(columns=['Unnamed: 0'])

In [16]:
# exercise 03

"""
Compute cash flow statement ratios

In this exercise, you'll compute the operating cash flow ratio and cash flow to net income ratio.

Recall that the operating cash flow ratio tells us how many times a company can pay off its short-term obligations from the cash it generates from the core of its business.

The cash flow to net income ratio gives us an idea of the proportion of cash flows earned from operating activities.

The pandas DataFrame merged_dat has already been loaded for you. It contains information from the cash flow statement, income statement, and balance sheet. pandas has been loaded as pd.
"""

# Instructions

"""

    Check the columns of merged_dat to determine which columns you'll need to calculate the operating cash flow ratio and cash flow to net income ratio.
---

    Compute cash flow to net income ratio and add it as a column to merged_dat.
    Compute the operating cash flow ratio and add it as a column to merged_dat.
---

    Use pivot_table to compute the average cash flow to net income and operating cash flow ratio per Year.

"""

# solution

print(merged_dat.columns)
merged_dat["cash_flow_to_net_income"] = merged_dat["Total Cash From Operating Activities"] / merged_dat["Net Income"]
merged_dat["operating_cash_flow"] = merged_dat["Total Cash From Operating Activities"] / merged_dat["Total Current Liabilities"]

# Compute the average ratios
average_ratios = merged_dat.pivot_table(index="Year", values = ["cash_flow_to_net_income", "operating_cash_flow"])

print(average_ratios)

#----------------------------------#

# Conclusion

"""
Great job! These ratios are widely used to check if the business is making satisfactory cash flows. The ideal value of both ratios is greater than one, but the economy was turbulent post-2019 which could explain why it is lower than one in those periods. Note that the cash flow ratios can be negative if there are negative cash flows.
"""

Index(['Year', 'company', 'Ebit', 'Total Revenue', 'Net Income',
       'Cost Of Revenue', 'Cash', 'Total Assets', 'Total Current Liabilities',
       'Total Cash From Financing Activities',
       'Total Cash From Operating Activities', 'cash_flow_to_net_income',
       'operating_cash_flow'],
      dtype='object')
      cash_flow_to_net_income  operating_cash_flow
Year
2018                 1.807245             1.002117
2019                 1.003005             0.810029
2020                -2.488864             0.897151
2021                 1.455250             0.970223
2022                 1.194117             0.745067

'\nGreat job! These ratios are widely used to check if the business is making satisfactory cash flows. The ideal value of both ratios is greater than one, but the economy was turbulent post-2019 which could explain why it is lower than one in those periods. Note that the cash flow ratios can be negative if there are negative cash flows.\n'

In [3]:
# exercise 04

"""
Imputing and filling in missing values using averages

When you want to do your analysis, you will likely use your own data. Datasets often have some missing values. In this exercise, you'll practice imputing these missing values. Imputing missing values is important as you do not want missing values to be an obstacle in our analysis.

pandas has been loaded with the alias pd and NumPy has been loaded with the alias np. A pandas DataFrame called dataset has been loaded for you. It has the column "Total Current Liabilities", which has some missing values in it.
"""

# Instructions

"""

    Impute the missing values in "Total Current Liabilities" by "company" using the average non-missing value.
    Impute the missing values in "Total Current Liabilities" by "comp_type" using the average non-missing value.
---

    Fill the missing values in "Total Current Liabilities" by "company" using its average non-missing value.
    Fill the missing values in "Total Current Liabilities" by "comp_type" using its average non-missing value.

"""

# solution

impute_by_company = dataset.groupby("company")["Total Current Liabilities"].transform("mean")
impute_by_comp_type = dataset.groupby("comp_type")["Total Current Liabilities"].transform("mean")

# Fill in the missing values with imputation
dataset["current_liab_avg_comp"] = dataset['Total Current Liabilities'].fillna(impute_by_company)

# Fill in the missing values with imputation
dataset["current_liab_avg_comp_type"] = dataset['Total Current Liabilities'].fillna(impute_by_comp_type)

print(dataset)

#----------------------------------#

# Conclusion

"""
Well done! Imputing and filling in missing values is a very common task while analyzing data from the wild.
"""

'\n\n'

In [4]:
# exercise 05

"""
Imputing missing values with percentiles

In this exercise, you'll continue to practice imputing missing values. Unlike the previous exercise, however, you will use percentiles in place of averages to compute the imputations. Using percentiles is a great way to get conservative imputations. Imputing missing values in a column using percentiles involves the following underlying steps:

    Remove the missing values from the column of interest.
    Then compute the, say 70th percentile of the numbers from the column you just removed missing values from.
    70th percentile worst value depends on the column you compute the percentile from:
        For instance, having a large amount of assets is considered to be a good thing, so a low amount of assets is worse. The 70th percentile worst value of assets is actually just the 30th percentile of assets.
        Analogously, high amounts of liabilities is considered bad. So a 70th worst value of liabilities is simply its 70th percentile.

pandas has been loaded with the alias pd and NumPy has been loaded with the alias np. A pandas DataFrame called dataset has been loaded for you. It has the column "Total Current Liabilities", which has some missing values.
"""

# Instructions

"""
mpute the missing values in "Total Current Liabilities" by "company" using the 70th percentile non-missing value.
Impute the missing values in "Total Current Liabilities" by "comp_type" using the 70th percentile non-missing value
---

    Fill the missing values in "Total Current Liabilities" by "company" using the 70th percentile non-missing value.
    Fill the missing values in "Total Current Liabilities" by "comp_type" using the 70th percentile non-missing value.

"""

# solution

# Impute missing value with average non-missing values of company
impute_by_company = dataset.groupby("company")["Total Current Liabilities"].transform(lambda x: np.nanquantile(x, 0.7))

# Impute missing value with average non-missing values of industry
impute_by_comp_type = dataset.groupby("comp_type")["Total Current Liabilities"].transform(lambda x: np.nanquantile(x, 0.7))

# Fill in the missing values using imputation
dataset["current_liab_quant_comp"] = dataset['Total Current Liabilities'].fillna(impute_by_company)

# Fill in the missing values using imputation
dataset["current_liab_quant_comp_type"] = dataset['Total Current Liabilities'].fillna(impute_by_comp_type)

print(dataset)

#----------------------------------#

# Conclusion

"""
Well done! Now you know how to fill in missing values with conservative estimates. Note that a 70th percentile is not always 'conservative' or the 70th percentile worst estimate per se. For instance, if you were to estimate the 70th 'worst' percentile of current assets, you would put 0.3 instead of 0.7 in the np.nanquantile.
"""

'\n\n'

In [5]:
# exercise 06

"""
Merging financial statements and filling missing values

You just learned about cash flow to net income and operating cash flow ratio. Recall that net income is not entirely earned in cash, and the cash flow to net income ratio tells us the rate of net income earned in cash. The operating cash flow ratio tells us whether the company has enough cash to meet its short-term commitments.

In this exercise, you'll compute both of these ratios for Apple and Microsoft and then plot them. A side-by-side plot of ratios of companies in the same industry helps visualize their differences.

You will usually get only some of the necessary information from different financial statements in any one DataFrame. You will likely get it from different sources and have to merge them. In addition, data from the wild often has missing values. This exercise involves filling in NaNs and merging DataFrames.

A pandas DataFrame dataset has been loaded for you. It contains information about Microsoft and Apple's income statements and balance sheets. Another pandas DataFrame cash_flow_statement has also been loaded for you. This has some of Apple and Microsoft's cash flow information.
"""

# Instructions

"""


    Check the columns of dataset and cash_flow_statement, and see which columns they should be merged on.
---

    Merge dataset and cash_flow_statement on the keywords "Year" and "company".
    The column Total Current Liabilities has NaN values; fill them with the average Total Current Liabilities of all companies.
---


    Compute the operating cash flow ratio.

"""

# solution

# Merge dataset with cash_flow_statement
merged_dat = pd.merge(dataset, cash_flow_statement, on=["Year", "company"])

# Fill in the NaN values in Total Current Liabilities with the mean
merged_dat["Total Current Liabilities"] = merged_dat["Total Current Liabilities"].fillna(merged_dat["Total Current Liabilities"].mean())

# Compute operating cash flow ratio
merged_dat["operating_cash_flow"] = merged_dat['Total Cash From Operating Activities'] / merged_dat['Total Current Liabilities']

print(merged_dat[["Year", "company", "operating_cash_flow"]])

#----------------------------------#

# Conclusion

"""
Well done! Now you're well equipped to handle datasets from the wild! Cash flow ratios help us understand whether a business is actually earning cash. The operating cash flow ratio of Apple and Microsoft is strong. Given that they are some of the top tech companies - it is no surprise.
"""

'\n\n'

In [6]:
# exercise 07

"""
Plotting cash flow ratios

Sometimes, you might want to plot several line plots in one image. However, having too many lines in one plot will make it challenging to read. Making separate facets for every line is more elegant: the figure will look neat and more interpretable.

A pandas DataFrame plot_df has already been loaded for you. It has the columns "Year", "company","cash_flow_to_net_income" and "operating_cash_flow". Seaborn has been loaded with the alias sns.
"""

# Instructions

"""

    Melt plot_dfto prepare it for plotting.
    Use sns.relplot() to make a line plot of the cash flow to net income and operating cash flow ratio of Apple and Microsoft over time, with hue over the dimension of "Ratio".

"""

# solution

# Melt the DataFrame to prepare for plotting
melt_data = plot_df.melt(id_vars=['Year','company'], var_name="Ratio", value_vars=["cash_flow_to_net_income", "operating_cash_flow"])

# Plot your melted DataFrame
sns.relplot(data=melt_data, x='Year', y='value', col='company', kind='line', hue='Ratio')

plt.show()

#----------------------------------#

# Conclusion

"""
Great job! This looks like a neat graph :). We can see that both Apple and Microsoft are similar in these ratios. Don't be misled by the huge jumps in the graphs. Always look at the scale of the y-axis, which in this case is very small, so even little changes look big.
"""

'\n\n'